[2018-01-05 13:57] joelwurtz opened #3 "Allof should merge property with the same name"
@see https://github.com/docker-php/docker-php-api/blob/ae9671d6b790a120d1d81f598d688de3555b13ef/src/Model/ContainersIdArchiveGetResponse400.php#L22

[2018-01-08 12:09] joelwurtz commented on #3
Fixed

[2018-01-08 12:09] #3 closed

[2018-01-08 12:19] joelwurtz opened #4 "[RFC] Decoupling request / response transformation from endpoint"
Actually an endpoint is hard to extends, and sometimes require to rewrite the full method.

However when you need to rewrite an endpoint, you just need to transform some of the parameters to the request, or transform the response into a specific object.

This can be achieved by generating specific encoder / decoder for the symfony serializer component.

Endpoint of an api will always takes two arg

[2018-01-08 12:31] joelwurtz commented on #4
In fact i don't want to modify existing api endpoint, so it will look more like this :

[code]

[2018-01-15 22:26] joelwurtz commented on #4
Fixed in #5

[2018-01-15 22:26] #4 closed

[2018-02-10 14:59] joelwurtz opened #9 "[Roadmap] Add support for OpenAPI Version 3"
Should use the https://github.com/OAI/OpenAPI-Specification/pull/1270 specification

Support of version 2 should be preserved, in fact we should simply convert a version3 into a version2 (or the inverse and use version3 for generation)

See https://github.com/janephp/openapi/issues/76

[2018-02-10 15:02] joelwurtz opened #10 "[Roadmap] Add Validation Support"
Add support for validating schema

 * Should use the Symfony/Validator component
 * Should support Normalized and Denormalized data, so validation can be done before deserialization and before serialization

[2018-02-10 15:07] joelwurtz opened #11 "[Roadmap] Server generator"
Add a server generator which should generate

 * An interface / abstract class extendable for each endpoint
 * A bridge for each endpoint implementing PSR15 handler interface https://www.php-fig.org/psr/psr-15/ which transform request to object / parameters needed for the endpoint, and object returned by the endpoint into a ResponseInterface
 * A router implementing PSR15 middleware which redirect

[2018-02-10 15:08] joelwurtz commented on #11
Optionally it may generate an async version using https://github.com/amphp/aerys

[2018-02-10 17:40] philsturgeon commented on #9
I’d suggest converting upwards, that’ll make 3.1 and future versions easier to handle, and there’s new keywords in v3 that aren’t in v2.

[2018-02-13 08:00] bakkerpeter opened #12 "Normalizer won't work"
When using the generated `openapi` client in combination with the guzzle6 adapter I continuously run into the following error:

`Fatal error: Uncaught InvalidArgumentException: Invalid resource type: object in vendor/guzzlehttp/psr7/src/functions.php:116`

I loaded the the client like this:

[code]
Here is my generated client:
[src.zip](https://github.com/janephp/janephp/files/1719079/src.zip)
And

[2018-02-13 10:24] joelwurtz commented on #12
Adding a `consumes: ['application/json']` to the endpoint will generate serialization statement. But this is a bug, as it should merge the one that are global, will do a fix, however in the meantime you can add this info to have correction generation of your api client.

[2018-02-13 10:40] bakkerpeter commented on #12
@joelwurtz Thanks for your quick response, indeed the workaround works!

[2018-02-15 14:59] fbourigault opened #14 "Symfony 4 compatibility for json-schema-runtime"
https://github.com/janephp/janephp/blob/81cea778f3c40eec71708782770804737ebb447d/src/JsonSchemaRuntime/composer.json#L23-L24

Is it a mistake or is there some work required to get it compatible with Symfony 4?

[2018-02-15 15:52] joelwurtz commented on #14
A mistake, it should be good with symfony 4 (there is no bc / deprecation) as far as i'm concern).

[2018-02-22 11:46] joelwurtz commented on #14
Fixed in 4.0.1

[2018-02-22 11:46] #14 closed

[2018-02-22 11:46] joelwurtz commented on #12
Fixed in 4.0.1, Thanks for reporting

[2018-02-22 11:46] #12 closed

[2018-03-01 10:54] wesnick opened #16 "Normalizer name generation for bad class names is inconsistent"
When generating a normalizer for a class name with a protected keyword, the normalizer class name is not consistent with the file name.  Example:
Model name: List
Generated class name: _List (correct)
Generated class filename: _List.php (correct)
Normalizer class Name: ListNormalizer (correct)
Normalizer File name: _ListNormalizer.php (incorrect)

[2018-05-20 07:35] helmuthva opened #23 "Compatibility with nikic/php-parser v4.0.x"
Hi,

any plans to make jane-php/json-schema compatible with nikic/php-parser v4.0.x in the near future which is required by symfony/maker-bundle v1.5.x so we can use jane-php/open-api with modern Sf4 apps?

Best

[2018-06-25 14:53] dol opened #25 "Warn about two variables condense to same camel case"
In certain cases it could happen that properties collide with their camel cased version.

[code]

Example from https://documentation.open-xchange.com/components/middleware/http/7.8.4/openapi.json

This creates a class like this:
[code]

PHP is unable to load this class with the following error:
[code]

According to http://www.php.net/manual/en/functions.user-defined.php function names in PHP are c

[2018-07-03 14:17] bakkerpeter opened #28 "optional date-time not handling NULL properly"
I'm running into a normalization issue, the model as described below will throw an error during normalization when the value for `disabled_at` is `NULL`. Although the error message states that a `NULL`-value is accepted, it results in an error when the actual value is `NULL`.

Returned data:
[code]

Regarding the exception:
`Uncaught TypeError: Argument 1 passed to ...\Account::setDisabledAt() mus

[2018-07-03 14:29] joelwurtz commented on #23
After some tests updating to 4.0 is a lot of work, so don't hope for this in the short term, but it would be possible in the next major version (don't know when)

[2018-07-03 14:31] joelwurtz commented on #28
Try `type: ['string', 'null']` in the disabled_at property

[2018-07-03 14:53] bakkerpeter commented on #28
Yup, that works, thanks again for your quick response!

[2018-07-05 14:17] bakkerpeter commented on #28
I'm sorry, but I have to reopen the issue; at least inform you about the following:
![image](https://user-images.githubusercontent.com/23257320/42328551-dafaebf6-806e-11e8-8edf-9cb71181398d.png)

[2018-07-08 02:21] abreksa4 opened #29 ""full-featured" support arrays of objects"
I took a quick look through the existing issue and didn't see anything addressing this, please let me know if I'm missing something.

When using the JSON Schema generation functionality with the following schema (we'll call it `testschema`):
[code]
The generated `testschema` object only has an `array` of `object` for the property `foo`, vs an `array` of `Foo` of the `Foo` type that in turn has a `

[2018-07-20 10:30] dvigueras opened #30 "Ability to fetch promises as in the deprecated library"
Hi,

I've been using your previous package version (now deprecated) for more than one year. I was planning to move to your new version but I can't as I have many parts of my code which are using promises ("FETCH_PROMISE" as the last parameter of the method).

I've been reading the new docs and migrating my current code to the new async way (Amp/Artax) is not an option for me. It would suppose a hu

[2018-08-01 11:46] joelwurtz commented on #30
Sorry, but I don't think i will reenable promise, as it end up being a maintenance nightmare compared to the version with artax.

However even if the previous version is deprecated, it's still working well and don't have so many bugs so you can still use it.

[2018-08-01 11:46] #30 closed

[2018-08-01 11:47] joelwurtz commented on #29
It should have generate a proper class IMO, so it's a bug thanks for reporting

[2018-08-01 11:50] joelwurtz commented on #28
Yes it works because it's based on json spec, and OpenAPI differ here, the only way to do this with OpenAPI (v2) is to use "oneof", however i'm not sure this will work.

You can also set the strict option to false for the Jane generator, and it will consider that every properties can be nullable

[2018-08-03 18:16] szepeviktor opened #37 "Adding an example"
Have you planned to add a complete example?

[2018-08-07 07:46] dvigueras commented on #30
I'd like to use the new version.

Would you be open to accept a PR with promises support?

I ask you this before doing the effort of understanding the current code and adding promises support.

Thanks

[2018-08-17 14:05] welcoMattic commented on #23
nikic/php-parser is also required by ocramius/proxy-manager which is required by the popular doctrine/migrations package

[2018-09-24 12:20] MatthieuMan commented on #37
help needed

[2018-09-24 12:27] szepeviktor commented on #37
For these parts of JanePHP https://github.com/janephp/janephp/tree/master/src

[2018-09-24 12:29] localheinz commented on #37
@szepeviktor

Not sure what you mean. Can you try to explain?

[2018-09-24 12:31] szepeviktor commented on #37
@localheinz I am totally lost how to begin.
A complete annotated example would come handy.

[2018-09-24 12:38] szepeviktor commented on #37
Or all it takes is `vendor/bin/jane generate --config-file=jane-configuration.php` ?

[2018-09-24 12:45] pyrech commented on #37
The documentation could be improved, but you can already find some information on https://jane.readthedocs.io/en/latest/index.html

[2018-09-24 13:40] MatthieuMan commented on #37
An exemple of  "how to implement it in a controller or service" in symfony for instance

[2018-10-12 18:25] jraubswitch opened #41 "Fatal error on generating."
I'm getting this error:

PHP Fatal error:  Uncaught Error: Call to undefined method Jane\JsonSchemaRuntime\Reference::getType() in .../vendor/jane-php/open-api/Generator/Parameter/BodyParameterGenerator.php:94

https://github.com/janephp/open-api/blob/v4.0.1/Generator/Parameter/BodyParameterGenerator.php#L94

I changed the line to
[code]
and it's working as expected now.

Am I correct in this is w

[2018-10-12 19:13] joelwurtz commented on #41
Can you give me the schema that was doing that ? Would be nice to add it as a test

[2018-10-19 09:41] joelwurtz commented on #41
Oh yes, it was fixed but not released see here https://github.com/janephp/janephp/pull/18

will do a release soon

[2018-10-19 09:41] #41 closed

[2018-10-19 11:33] joelwurtz commented on #29
Fixed in 4.0.4

[2018-10-19 11:33] #29 closed

[2018-10-19 11:34] joelwurtz commented on #25
It will now generate different names in 4.0.4

[2018-10-19 11:34] #25 closed

[2018-10-19 11:34] joelwurtz commented on #16
Fixed in 4.0.4

Thanks for reporting

[2018-10-19 11:34] #16 closed

[2018-10-19 11:56] joelwurtz commented on #9
5.x branch is now supporting v3 if anyone want to try it

[2018-10-19 11:56] #9 closed

[2018-10-19 12:56] joelwurtz commented on #23
Done in branch 5.x

[2018-10-19 12:56] #23 closed

[2018-10-30 23:37] edgji opened #45 "How do you define Nullable properties"
I understand support for OpenAPI v3 is in the works and a solution to may already be in the works considering a similar issue described in #28

How would one describe a nullable component?
I'm attempting generation for a v3 client using 5.x-dev and describing an endpoint as follows:
[code]
but the generated code only accepts null values for the nullable property since it doesn't try to denormalize

[2018-11-12 16:58] melkamar opened #47 "securityDefinitions ignored when using an OpenAPI spec"
When generating a client from a spec which contains a `securityDefinitions` entry, this option is ignored. Example spec snippet:

[code]

This results in a generated class that only allows `X-CUSTOM` header to be passed in, but `X-SEC-Client-Id` should be required to be passed in as well.

When I manually add the `ClientId` definition as a parameter of the resource path, the request is sent correc

[2018-11-19 09:45] lornajane opened #49 "How to use generated client?"
Thanks for building this! I generated a client from https://github.com/Nexmo/api-specification/blob/master/definitions/verify.yml but I can't find the docs on how to _use_ the client now I have it. A bit of googling error messages showed that I needed to add more dependencies (`php-http/curl-client` and `guzzlehttp/psr7` and `php-http/message`) and I can instantiate the client but then how do I se

[2018-11-19 13:35] lornajane commented on #49
The generated code looks really promising but I really do need a bit more information to get started (I'm not a beginner although I do feel pretty stupid at this moment). Is anyone else using this? Is there an example anywhere that I could look at (even a very specific one, I understand that my API will be different)? Is the idea that I create and inject an HTTP client that has the things already

[2018-11-19 13:51] joelwurtz commented on #49
You can look at https://github.com/jolicode/slack-php-api for a recent example.

Also did you read : https://jane.readthedocs.io/en/latest/OpenAPI/usage.html ? I really don't know how i can explain more than that, if you do please tell me.

[2018-11-19 18:42] lornajane commented on #49
Thanks! The examples helped a lot, as did a long read of the httplug documentation to try to understand all the extra dependencies but I definitely made progress. I'd like to update the documentation myself if I ever get to a working version but I'm currently completely stuck. When I use the generate command, I don't get a `Model` directory at all and several parameters are missing.  Having dug ar

[2018-11-20 08:22] joelwurtz commented on #49
Which version of Jane do you have ? Please note that current support of OpenAPI v3 is only in the master branch (no release yet)

[2018-11-20 09:32] lornajane commented on #49
Oh right, that's probably not helping! I'm using 4.0 by the look of it.  I used a different tool for now and will try to check back at a later time. Thanks for your help on this.

[2018-11-20 09:32] #49 closed

[2018-11-26 14:06] melkamar opened #50 "Parametrizing the host address"
We have several places running the same API and we want to be able to configure our applications which one to use based on the environment (dev, test, prod). This is not possible when hardcoding the `host: xxx` field into the spec.

The [documentation mentions](https://jane.readthedocs.io/en/latest/OpenAPI/usage.html#host-and-basepath-support) that it should be possible to handle these cases. Howe

[2018-11-26 14:18] damienalexandre commented on #50
I handle this kind of need by providing my own HTTPlug client to the created Client.

Example with Symfony Httplug:

[code]

[code]

At the end, it's only about being able to build the proper HTTPlug client. The fact I use Symfony has nothing to do with it.

You could try this:

[code]

[2018-11-26 15:41] pyrech commented on #50
I had more or less the same problem with our Slack client so I had to manually readd this logic in our own client, see https://github.com/jolicode/slack-php-api/blob/master/src/ClientFactory.php#L33-L42 for an example :wink:

[2018-11-26 16:08] melkamar commented on #50
This requires you to know the host and path to the service though, doesn't it? This does not allow you to change the URL based on the environment you are runnign in. I am trying to have the `basePath` part of the Client configuration stored in the yaml spec and the `host` in a configuration file elsewhere.

I could read both those files and then construct the `Client` by hand, but that seems clunk

[2018-11-27 11:01] joelwurtz commented on #50
You could do what @pyrech have done but instead of hardcoding the hostname passing it to the method as a parameter :

[code]

Then on symfony you can use env parameters to change the URL passed to this method.

Normally you would use this method (static create) only on prototyping / testing, otherwise i recommend you to create the services chain by using DIC of symfony.

[2018-11-27 11:33] melkamar commented on #50
Good to know. I think it's worth documenting in some "best practices" way.

Pardon my ignorance, but I am still not getting it.

First, in order to change the `static create()` function I would have to manually edit the _generated_ code. That would get overwritten whenever the underlying spec changes. I want to be able to re-generate the code and use it with no manual edits on my part.

Second, le

[2018-11-27 12:56] joelwurtz commented on #50
You should not edit the generated code but instead create your own class which can extend the existing one and which have the static method.

There is no way to read it without parsing the spec file, you are correct.

It may be something to add (like having some methods returning base path / etc ...) but AFAIK updating the host in the spec is very rare so just writing it down in your env without p

[2018-11-27 14:03] melkamar commented on #50
I agree. We want the host to be defined in our parameters, so that we can control where requests are being made in which environment.

We use the spec files provided to use by a third party with which we integrate. The base path _should_ not change much, but if it did, I would expect that change to be in the provider's jurisdiction. And as such, it makes sense to me to "trust" that value. Maybe no

[2019-03-10 06:43] garex opened #59 "Bump http/client to 2.0 or add it as ^1.4 | 2.x?"
Because of this weird bug in it

https://github.com/php-http/client-common/issues/118

AddPathPlugin is unusable in long-running  processes.

[2019-03-10 16:11] joelwurtz commented on #59
It's already done on 4.x : https://github.com/janephp/janephp/blob/4.x/composer.json (and released under the 4.2.0)

For 5.x it will only support 2.x but there is no release yet

[2019-03-10 16:17] garex commented on #59
Where?

https://github.com/janephp/open-api-runtime/blob/17a9714021581702e1904ca5db236efb76393146/composer.json#L20

[2019-03-10 20:15] joelwurtz commented on #59
on 4.x like i said and link :) see here : https://github.com/janephp/open-api-runtime/blob/4.x/composer.json

Master is the futur branch not ready and not released

[2019-03-10 20:19] garex commented on #59
![image](https://user-images.githubusercontent.com/77981/54090938-528e3c80-43ac-11e9-82f4-20e4ffec11a2.png)

Usually I expect master branch to be something latest on the edge. Ok. Will know then to look at packagist before sending issues ))

[2019-03-10 20:19] #59 closed

[2019-03-10 21:28] joelwurtz commented on #59
No problem :p it happens, but that show also that maybe i should put 4.x as the default branch ATM and not master.

[2019-03-11 03:28] garex commented on #59
Or just drop it if it's not used.

[2019-03-16 14:07] MichaelKubovic commented on #11
Hey, I'd like to contribute to this feature. I could start with the controller interfaces. Although I like the flexibility of separate interface for each endpoint, I would like to be able to optionally group them by resource. Ideally I'd like to have UserControllerInterface, CarControllerInterface, etc. Tags could be used for this purpose, what do you think?

[2019-03-18 14:27] bakkerpeter commented on #47
Hi @joelwurtz, any news on this? Same goes for the following, in my opinion very common, use-case:
[code]
Thanks!

[2019-03-18 14:34] joelwurtz commented on #47
Jane does not generate code related to authentication, it should be done when creating the client by using the HTTPlug plugin system: http://docs.php-http.org/en/latest/plugins/introduction.html

It may be possible to generate code about that, however it's not currently planned to be added in a near future unless there is a contribution about it.

[2019-03-18 14:36] joelwurtz commented on #47
It really depends on the spec, as you can have multiple authentication method, and some endpoints may use one security method or not.

[2019-03-18 14:45] bakkerpeter commented on #47
Thanks for sharing your thoughts on this, I will look to find some time to do a contribution to be able to generate code for Bearer auth.

You are absolutely right, on second thought this is not such a clever idea.

[2019-03-25 13:49] dontub opened #62 "Allow PSR-7 StreamInterface for body parameter of type string"
For body parameters of type string it should be possible to use a PSR-7 StreamInterface instead of a string. docker-php/docker-php#336

[2019-04-01 09:54] judgej opened #63 "Support PSR-18 client and PSR-17 message factories"
This is a request to see if this is (or could be) possibly on your project timeline.

The idea is that any PSR-18 client could be passed in by the application or framework, and that would be used for all requests. If no PSR-18 client were passed in, then either auto-discovery could be used or your chosen client could be optionally installed and used. It's about not locking this package to a specif

[2019-04-01 10:50] joelwurtz commented on #63
That what this library already does ? Or maybe i misunderstood something ?

Here we use PSR18 / PSR17 : https://github.com/janephp/janephp/blob/4.x/src/OpenApiRuntime/Client/Psr7HttplugClient.php#L32

And generated code will use httplug discovery package to automatically provide those objects:

see https://github.com/janephp/janephp/blob/4.x/src/OpenApi/Tests/fixtures/from-url/expected/Client.php#

[2019-04-01 10:52] joelwurtz commented on #63
Oh yes, it's using httplug interface and not PSR18, my bad, PR welcome then :p

[2019-04-01 11:45] judgej commented on #63
Cool. I'll have a play and go from there :-)

So many libraries (in fact ALL OpwnAPI generated libraries) tightly bind the client and message factories, making them much more difficult to integrate into some other libraries and applications. PSR-7/PSR-17/PSR-18 really put some focus on handling these as completely different things. There are HTTP messages (requests and responses) and a client to t

[2019-04-01 15:34] Metabor commented on #9
Would need to use this tool with a openapi 3 schema.
What happend to 5.x branch?

[2019-04-01 15:48] joelwurtz commented on #9
master is the 5.x branch, i'm focusing my work on the 4.x branch actually and implementing some changes that i need in 5.x into other repo and this take time so it's currently on hold.

But master branch should work, but current state will not be guaranteed (some BC break will certainly occurs when it will be released)

[2019-04-05 14:52] CaptainQuirk opened #66 "When will a 5.x be out ?"
Hi !

I was just wondering if you had a date for a 5.x release !

Thanks in advance

[2019-04-28 00:15] powerpbx commented on #47
We need auth key and token in the header.  This is how we did it as per suggestion to use HTTPlug.

`composer require php-http/client-common`

Find the generated create(_) method and modify that.

[code]

[2019-05-06 13:25] slavo2 opened #70 "Working set of versions"
Please, could you add to documentation, how to install a working set of jane-php/open-api and dependent packages?

When trying to install stable version (4.2) I have run into issue, that it is dependent on nikic/php-parser - old version 3.0 only.

When trying to install development version, then I have trouble with
`Fatal error: require(): Failed opening required ‘.../vendor/composer/../jane-php/o

[2019-05-06 13:43] Korbeil commented on #70
https://github.com/janephp/janephp/pull/71 should fix your first issue (sorry, forgot this one 😢)

For the runtime, I suggest you using same version as your OpenApi library, so the 4.x branch.

[2019-05-06 13:50] slavo2 commented on #70
Thanks, do you think that it would be possible to add also `|| ^2.0` to `open-api-runtime` dependency on php-http/httplug ?
(not sure what are the real constraints)

[2019-05-06 14:14] slavo2 commented on #70
@Korbeil So with https://github.com/janephp/janephp/pull/71 how one could actually install jane-php/open-api ?
Attempt to install stable "~4.2" still results in nikic/php-parser conflicts...

[2019-05-27 15:58] Korbeil opened #73 "Impossible to have non-nullable model values"
https://github.com/janephp/janephp/blob/4.x/src/JsonSchema/Generator/Model/GetterSetterGenerator.php#L23

Model getter / setter are never called with corresponding `required` value from Schema (even with OpenAPI)

[2019-05-27 15:59] Korbeil opened #74 "Default response support for 5.x"
https://swagger.io/docs/specification/describing-responses/#default

Add `default` response support for OpenApi

[2019-05-29 12:15] lordrhodos opened #75 "Psr7HttplugEndpointTrait of the OpenApiRuntime does not pass the content type to the transformResponseBody function"
If trying to fetch an object (default mode) from an endpoint the trait does not pass the content type to the `\Jane\OpenApiRuntime\Client\Psr7HttplugEndpointTrait::parsePSR7Response` function:

https://github.com/janephp/janephp/blob/master/src/OpenApiRuntime/Client/Psr7HttplugEndpointTrait.php#L17-L19

I will try to work on a PR to fix this.

[2019-05-29 12:16] Korbeil commented on #75
I saw the exact same behavior like 10min before, thanks for reporting :+1:

[2019-05-31 08:44] #75 closed

[2019-05-31 16:45] lordrhodos opened #78 "No filename set when calling MultipartStreamBuilder::addResource from endpoints getBody function"
I have an OAS which defines a `createMediaFile` endpoint:

[code]

The generated function of the endpoint looks like this:

[code]

When calling the endpoint on the client the the filename in the `Content-Disposition` body header is not set and the file parameter ending up as normal `$_POST` data and not as an entry of `$_FILES`.

The `MultipartStreamBuilder` checks for a filename in the  `$option

[2019-06-05 08:45] ChristopheZOL opened #79 "Unconsistent case of properties and constructor in generated endpoints"
Hi everyone,

first, thanks for your awesome tool.

I encounter a problem when generating endpoint from OpenAPI specs.
I have in the json file a parameter with upper case first letter :

[code]

Note the *Id* property with the upper case "I"
When using the tool to generate endpoints, I obtain something like this :

[code]

Everywhere in the file, the property "Id" is used, but due to the differenc

[2019-06-05 09:02] Korbeil commented on #79
Hey @ChristopheZOL,

Thanks for reporting this issue, it's looks like a bug and your solution is correct :wink: (btw, be carefull with your example cause it does not reflect your bug since you fixed it, shouldn't it be `$this->id = $id;` ?)
Could you make a PR for this and add tests ? (for `4.x` branch)

About tests: best way for this is to make a new fixture folder with OpenAPI definition with on

[2019-06-05 09:13] ChristopheZOL commented on #79
Cool ! I'll make a PR as soon as I can. Thanks for your reactivity

[2019-06-05 10:09] ChristopheZOL commented on #79
Sorry to bother you @Korbeil, but I struggle to run tests.
I run `vendor/bin/phpunit -c phpunit.xml` in OpenApi directory, expecting my test to fail, as you said, but I encounter a PHP Fatal error here, due to existing tests :

[code]

It appears that 4 classes in tests are named GetTest (in the namespace `Jane\OpenApi\Tests\Expected\Endpoint`)

Is it normal ? Am I running PHPUnit in the wrong way

[2019-06-05 13:42] Korbeil commented on #79
I suggest you running tests from JanePHP root directory (all libraries), you won't have this problem.

It's because we create classes in `/generated` folder and they often conflict with classes in `/expected`

[2019-06-07 09:47] ChristopheZOL commented on #79
Hello again, I managed to run all tests successfully but unfortunately, the test done does not detect my change (therefore my added test is useless because it says "OK" even if expected code is different from generated code).

This is because there is a test in JaneOpenApiResourceTest.php :
[code]
I don't understand why the fact that it's PhpParser 4 is a problem but maybe you know better than me

[2019-06-11 14:34] Korbeil commented on #79
Real problem behind that is the generated classes with PhpParser 3.x and generated classes with PhpParser 4.x are not the same, that's why I used this condition.
Let's submit your PR, and I will try to fix this after by re-generating everything with same PhpParser version as CI use :wink:

[2019-06-14 08:42] marcusirgens opened #88 "AmpArtaxEndpointTrait is not compatible with Psr7HttplugEndpointTrait"
`Fatal error: Declaration of Jane\OpenApiRuntime\Client\AmpArtaxEndpointTrait::transformResponseBody(string $body, int $status, Symfony\Component\Serializer\SerializerInterface $serializer) must be compatible with Jane\OpenApiRuntime\Client\Psr7HttplugEndpointTrait::transformResponseBody(string $body, int $status, Symfony\Component\Serializer\SerializerInterface $serializer, ?string $contentType =

[2019-06-14 14:22] laszlof commented on #88
We just hit this as well.

[2019-06-14 14:23] marcusirgens commented on #88
@laszlof, you can require the api dependency at `4^ <4.3` until it is resolved.

[2019-06-14 14:24] laszlof commented on #88
Yeah, we just rolled back. Am putting together a PR to fix it here.

[2019-06-17 08:55] #73 closed

[2019-06-19 08:56] Korbeil commented on #45
We added `nullable` support since `4.4.0`, check #87 for implementation details (for OpenAPI 2.x) and it's also support on master branch (PR #84) for OpenApi 3.x :wink:

[2019-06-19 08:56] #45 closed

[2019-06-19 08:57] Korbeil commented on #28
We added `nullable` support since `4.4.0`, check #87 for implementation details (for OpenAPI 2.x) and it's also supported on master branch (PR #84) for OpenApi 3.x :wink:

[2019-06-19 08:57] #28 closed

[2019-06-19 10:17] Korbeil commented on #70
@slavo2 still having issues about using Jane ?

[2019-06-19 10:23] Korbeil commented on #79
Any news about this ? You want to submit a PR ? Or I can handle it if you prefer :wink:

[2019-06-19 10:29] Korbeil commented on #66
Hi @CaptainQuirk, we still need to port some feature from `4.x` branch to `master` then implement usage of `AutoMapper` in generated classes. Still some work to do, I'll probably open an issue with remaining features to port from `4.x` if you wanna give a hand :wink:

[2019-06-19 10:29] #66 closed

[2019-06-19 10:39] Korbeil commented on #78
Understand that `master` branch is not stable and may have some bugs.
There should be a way to fix this through generation (which is made here: https://github.com/janephp/janephp/blob/master/src/OpenApi/Generator/RequestBodyContent/FormBodyContentGenerator.php#L22), you're free to make a PR if you can fix it :wink:

[2019-06-19 10:52] Korbeil opened #92 "Feature to port from `4.x` to `master` branch"
- ~~Discriminator for inheritance #60~~ (fixed by #91)
- ~~Use of `CacheableSupportsMethodInterface` for Normalizers #54~~ (fixed by #93)
- ~~Add support for default value in model (only scalar) #57~~
- ~~Allow httplug 2.0 #58~~ (fixed by #99)
- ~~Fix generated endpoint in case of uppercase in path parameter #97~~ (fixed by #98)

This list is probably not complete but this is a good way to know wh

[2019-06-19 12:20] ChristopheZOL commented on #79
I'm sorry, like I said, I don't have so much free time to work on this. I'll make a PR today.

[2019-06-24 09:48] Korbeil commented on #79
Fixed by #97 for `4.x` branch

[2019-06-24 09:48] #79 closed

[2019-06-28 12:42] dontub commented on #62
Addendum: If `format` is set to `binary` this is already the case. However I think this shouldn't be limited to a specific format.

[2019-07-05 12:31] angelsk opened #100 "Question: How do I tell Jane to generate models with required/ nullable fields?"
In my JSON file I have the OpenApi "required" section to define the required fields.  But when Jane generates the JSON Models it makes everything nullable, which is a problem, when I want the required fields to be not nullable.  Also it doesn't put `|null` in the doc block.

Is there a config option?  Or is this a bug?

[2019-07-05 12:42] Korbeil commented on #100
Hi @angelsk !

`required` field only works for paths definitions not for models.
You should use `nullable` property that was added since https://github.com/janephp/janephp/pull/84 & https://github.com/janephp/janephp/pull/87 as following:

[code]

And by using with a `strict` generation mode (with is enabled by default).
On that example, `label` attribute will be nullable or string and `id` will b

[2019-07-05 13:03] angelsk commented on #100
I'm running  "jane-php/json-schema": "v4.3.0"

Does it infer nullable: true?  Because none of the fields say nullable but they are all being forced to be.  And also - the typehint in the docblock does not contain `|null` and it should.

[2019-07-05 13:05] angelsk commented on #100
Oh - and I'm not setting a property required: but using the required array like this:

[code]

[2019-07-05 13:26] Korbeil commented on #100
As mentioned in our https://github.com/janephp/janephp/blob/4.x/CHANGELOG.md#440---2019-06-17
This was added by `v4.4.0`: "[Jane] add null type to PHPDoc for getters/setters"
Sadly we got this bug since then :disappointed:

[2019-07-05 13:49] angelsk commented on #100
Ok.  So that explains the different behaviour I saw.  With 4.3 everything is nullable.

With 4.4 everything is suddenly not nullable.

I really don't want either behaviour to be default - would be nice to respect the "required" array; as this is valid open-api no?

[2019-07-05 13:50] Korbeil commented on #100
This is actually not a supported feature, but you're free to open an issue or make a PR for this :wink:

[2019-07-05 13:54] angelsk commented on #100
I did open this issue ;))

I've also asked the team whose open api docs we're using to consider adding the nullable field.

[2019-07-09 15:28] ChristopheZOL commented on #100
:+1:  I would be interested in such feature !

[2019-07-09 15:29] Korbeil commented on #92
After quick talk with @joelwurtz, Artax is no longer needed on `master` branch.

[2019-07-11 19:46] slavo2 commented on #70
I think I have had somehow managed to get installable set of versions in a past.
Thanks for asking

[2019-07-11 19:46] #70 closed

[2019-07-17 17:32] tlovett1 commented on #88
Any update on this? Broken for us.

[2019-07-18 07:27] ma0dubois commented on #88
@tlovett1, as said @marcusirgens, you can rollback to this version: `"jane-php/open-api-runtime": "4.2.0",`

[2019-07-30 07:23] pieterw2w opened #101 "yaml support emits php warning in dev-master"
I wanted to check if I can switch from swagger 2.0 to openapi 3.0, but the latest stable version 4.4 only supports swagger 2.0. If I update janephp-openapi to dev-master to get openapi 3.0 support I get a php error:
First parameter must either be an object or the name of an existing class in vendor/jane-php/open-api/SchemaParser/SchemaParser.php on line 66

The reason why it fails is that my spec

[2019-07-30 08:51] Korbeil commented on #101
Thanks for reaching us about your issue.
Could you provide a openapi 3.0 sample and related jane configuration to reproduce the bug ?

[2019-07-30 13:02] pieterw2w commented on #101
I think any yaml file will trigger the error if I download the latest version from master. If I convert the spec to json it works just fine.

[2019-07-31 07:01] pieterw2w commented on #101
OK, i see my setup changed php warnings in exceptions, but the php warning is still emitted with a clean setup.

I do composer require jane-php/open-api with version constraint ^5.0@dev

Then my .jane-openapi file is:
[code]

I run in the terminal: php vendor/bin/jane-openapi generate

And I get a php warning:
`PHP Warning:  First parameter must either be an object or the name of an existing class

[2019-08-09 12:04] Korbeil commented on #92
And it's over, `master` has now same features as `4.x` branch

[2019-08-09 12:04] #92 closed

[2019-08-13 10:09] #101 closed

[2019-08-20 17:32] nicolassing opened #107 "Support empty array as default value in JsonSchema"
If I specify an empty array as default value for an array property, Jane does not care and not include the default value in the generated Model.

I've made a little tweak for testing in the PropertyGenerator and everything works fine
[code]
What do you think ?

[2019-08-21 07:11] it-dog opened #108 "undefined method Reference::getType()"
Hi,

I want to generate a client for my API using an OpenApi V3 schema with janephp master branch

I get a fatal error

[code]

It could be the same kind of issue encountered in https://github.com/janephp/janephp/issues/41

[2019-08-21 07:49] Korbeil commented on #108
Hi :) Could you provide the OpenAPI schema that is doing this error ?

[2019-08-21 14:42] nicolassing commented on #107
#109

[2019-08-26 07:02] it-dog commented on #108
Hi,

Sorry for the delay, I was on holiday.

The OpenApi schema can be found at this url  :  https://demo.tagpay.fr/doc/public/distributor.yml

[2019-09-04 12:16] fbourigault opened #110 "5.x release"
Hello,

I would like to know if there is any roadmap and if help is needed for a 5.0 release?

Thanks for this amazing library.

[2019-09-04 12:20] Korbeil commented on #110
Actually I'm trying to fix remaining bugs issues. For 5.x we are waiting for https://github.com/symfony/symfony/pull/30248 to be finished then we will replace current AutoMapper with symfony's one.

There is also room for improvement with documentation, if you have some time to help us :smile:

[2019-09-06 14:03] fbourigault commented on #110
So, stable OpenApi 3.0 support depends on https://github.com/symfony/symfony/pull/30248.

Would be releasing a 5.x with OpenApi 3.0 support possible without the automapper stuff?

[2019-09-09 08:53] Korbeil commented on #110
After talking with some mates and @joelwurtz about `AutoMapper`. We also agreed that he won't be added until long time. Understand that currently `AutoMapper` library isn't used in any part of `JsonSchema` / `OpenAPI`.
I'll try to make a roadmap for 5.x and beyond later but most of my focus will go on documentation and bugs.

So we will release a 5.x when I have some time. Since #92 resolved all m

[2019-09-11 11:50] Korbeil commented on #110
So, Jane 5.x is here https://github.com/janephp/janephp/tree/v5.0.0

We decided to upgrade required PHP version to 7.2.
After quick talk with @joelwurtz, version 6.x will be introduced with PHP 7.4 with public typed properties as main feature.

Now let's clean / update issues since we got a new version :)

[2019-09-11 11:50] #110 closed

[2019-09-11 11:59] Korbeil commented on #107
Thanks, PR is merged :wink:

[2019-09-11 11:59] #107 closed

[2019-09-11 12:04] Korbeil commented on #47
Since last version moved to OpenAPI 3.0, this property is now called `securitySchemes` (see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#securitySchemeObject for more details)

[2019-09-12 14:29] mdelanoue opened #113 "Generate normalizer with snake_case discriminator"
jane-php/open-api: 5.0.0
openapi v3

Hi,
I want to generate a client model with discriminator.
On my openapi schema I have a snake_case discriminator model.

[code]

But when I generate my client with the `vendor/bin/jane-openapi generate` command I get this

[code]

`return $this->denormalizer->denormalize($data, 'TestGenerated\\Model\\dog_labrador', $format, $context);`

The classname generated

[2019-09-13 17:51] fbourigault commented on #11
In my company, we started a new project which is OpenAPI first. We first wrote the schema which defines the contract and now, we are building the server.  We currently use `jane-openapi` to build models and normalizer for the server.

Sadly, `jane-openapi` also generate the client and the endpoints.

Then for server generation, I would like to use some ADR generator with actions which use Symfony

[2019-09-15 12:12] Korbeil commented on #11
First of all, glad you take jane to power up your project :rocket:

In case server feature comes, there will be a client mode with what we have today, and a server mode which won't generate stuff you don't want but only server-side related stuff :wink:

I totally agree with Request/Response based on Symfony HttpFoundation they're both powerfull and fit to what we do need.
About Symfony Messenger I

[2019-09-15 16:10] Korbeil commented on #108
So, I did some research about your bug.

First, I can reproduce it in local 🎉 But that's where the problems begin ...
Your bug is caused by OpenApi Schema normalization (here https://github.com/janephp/janephp/blob/master/src/OpenApi/JaneOpenApi.php#L58).
It seems he can't understand reference that are themself a variable (in your case it's an object called `UserProfileId` which cause all that tro

[2019-09-16 07:22] it-dog commented on #108
Thanks for your investigation !
Indeed references will not always point to an object type.
We use references pointing to "base types" to factorize descriptions or constraints.
In this case, we consider "IDs" as meaningful types because it can be used in multiple endpoints, and are not just "data" : they are pointing to an identified resource.

Please tell me if you need any help fixing the bug.

[2019-09-16 11:34] dsuurlant commented on #100
We're experiencing the same issue -- previously all fields not marked either way were considered nullable, and now all are considered _not_ nullable. That is quite a change from how it previously worked. We can change the spec ourselves in most cases, but this situation isn't ideal. Why flip all the default behaviour around?

[2019-09-16 12:44] fbourigault opened #117 "Handling responses with charset Content-Type parameter"
I have to deal with an API which returns content encoded as `application/json;charset=UTF-8`.

If I describe a response with such content-type, Jane fails to generate a working code:

[code]

[code]

[2019-09-16 12:47] Korbeil commented on #117
I just fixed it with this morning release (check [v5.0.1](https://github.com/janephp/janephp/releases/tag/v5.0.1) &  https://github.com/janephp/janephp/pull/115).
Put only `application/json` in you Content-Type and it will works correctly :wink:

[2019-09-16 12:48] fbourigault commented on #117
Awesome! Thank you!

[2019-09-16 12:48] #117 closed

[2019-09-16 17:04] #113 closed

[2019-09-18 17:56] pyrech commented on #63
I'm giving a try at this issue :wink:

[2019-09-19 18:43] judgej commented on #63
I've got a [Xero client here](https://github.com/consilience/xero-api-client) in which I have made an attempt at PSR-18/17 discovery. I'm not convinced I have it right, as I have not quite put my hands on what the *standard* or most accepted way to do this is. Ideally a library doing API calls can be given a PSR-17 message generator and PSR-18 client, and won't need any further dependencies on imp

[2019-09-20 07:41] Korbeil commented on #74
It is already supported. See https://github.com/janephp/janephp/blob/master/src/OpenApi/Generator/EndpointGenerator.php#L284

[2019-09-20 07:41] #74 closed

[2019-09-21 07:45] pyrech commented on #63
FYI, I made a PR to add support for PSR 18 client generation (#120). I kept the dependency on `php-http/discovery` because they already provides a PSR17 factory discovery which is quite complete IMO.

[2019-09-23 11:52] Korbeil commented on #10
Some interesting stuff about this issue:
- JsonSchema validation: https://json-schema.org/draft/2019-09/json-schema-validation.html
- Existing PHP implementation: https://github.com/opis/json-schema

[2019-09-24 15:10] #63 closed

[2019-09-25 07:54] Korbeil commented on #100
Hey again, I did some fixes recently about nullable fields so here is how it works, just tell me if that sounds ok to you:
- Jane 4.x (will be same for both JsonSchema & OpenAPI 2.x) you need to make your type `null` or an array containing `null` (see https://github.com/janephp/janephp/blob/4.x/src/JsonSchema/Guesser/JsonSchema/ObjectGuesser.php#L99)
- Jane 5.x
  - JsonSchema will be same as Jane

[2019-09-25 07:54] #100 closed

[2019-09-25 12:02] Korbeil commented on #108
So I tried with simple tests with reference of simple type in both [model](https://gist.github.com/Korbeil/00b161408fa27f8a7a66892a5e513b2c) and [response](https://gist.github.com/Korbeil/59ae92eb173a2304329952741e637c9b) and both are working ok. I think there is a bit more about your case.

[2019-09-25 12:11] Korbeil commented on #108
And here is the minimal reproducer:
[code]

Reference as type is correctly handled everywhere except in endpoint parameters.

[2019-09-26 11:00] #108 closed

[2019-09-30 17:07] Korbeil opened #131 "Upgrade JsonSchema & OpenAPI specs"
We are still using JsonSchema draft-04 (~2 years old) and OpenApi 3.0.0 (3.0.2 is out)
Let's try to update everything to the last version !

- [x] JsonSchema
	- [x] draft-06
	- [x] draft-07
	- [x] 2019-09
- [x] OpenAPI
  - [x] 3.0.2

[2019-10-01 12:30] lordrhodos opened #133 "Reusing the same model as response (GET) and request (POST, PUT, PATCH) object"
The OAS 3.0 defines a boolean [`readOnly` property for schema objects](https://swagger.io/specification/#schemaObject):

When you use the same schema in you OAS responses and requests of an endpoint this will lead to errors when trying to execute POST, PUT or PATCH actions. The `readOnly` setting is not taken into account when normalizing the generated models.

For a simple model like this:

[code

[2019-10-01 12:39] Korbeil commented on #133
Hi @lordrhodos,

I'm actually working on JsonSchema upgrade to catch last version (2019-09) which include readOnly & writeOnly behavior (see #131 and #132 which is the first step).

When this upgrade will be done I already prepared a proxy to manage both `normalize` & `denormalize` methods even if we remove get/set methods (you can see a proxy example here: https://github.com/janephp/openapi3-exam

[2019-10-01 13:59] lordrhodos commented on #133
Hi @Korbeil,

thank you for your quick reply, this sounds amazing and I am very much looking forward to the library being updated and this issue fixed as well 👍

[2019-10-02 13:43] Niehztog opened #135 "Generator hangs and lacks any output"
Hi,
I am trying to generate an API client for the Oracle Sales Cloud REST API. The API specification uses the Swagger 2.0 (OpenApi 2.0) format. I am using version 4.5.0 of jane.

Here is my config:
[code]
After executing `php vendor/bin/jane-openapi generate` just nothing happens. The script keeps running, but I waited for 30 minutes with absolutely no output. No data gets written to the target di

[2019-10-02 15:02] Korbeil commented on #135
Hi,

I see that your OpenApi schema has a quite long definition.
I ran some tests on my computer with Stripe API specs (you can see theses tests here https://github.com/Korbeil/stripe-php-api) and it took me ~15min to generate it.
In Stripe specs there is 39k rows, in yours there is 289k rows, so I think this is totaly ok to take more than 30min to generate a full client.

You should isolate endpo

[2019-10-02 15:02] #135 closed

[2019-10-06 14:12] Korbeil commented on #131
Everything has been upgraded 🎉

[2019-10-06 14:12] #131 closed

[2019-10-07 10:47] michaelthieulin opened #140 "Call to a member function format() on null"
With the following configuration

.jane-openapi

[code]

schema.yaml

[code]

In the generated code, the model is correct
`public function getDate() : ?\DateTime`

but in the `normalize` function of the `TestNormalizer` we have
`$data->{'date'} = $object->getDate()->format("Y-m-d\TH:i:s.vP");`

If the getDate return null, an error occured.

[2019-10-11 12:51] xavren opened #142 "Normalizer Array error"
Hey

I am actually using subtree split open api and having some errors due to the fact that `Normalizers` does not check data type before calling get_class($data)

[code]

A better approach should be
[code]

[2019-10-11 12:53] Korbeil commented on #142
Hey @xavren !
Thanks for pointing the issue :) If you have some free time to make the fix feel free, I was planing to make a release this week, but I'll wait for this fix before releasing :wink:

[2019-10-14 08:07] Korbeil commented on #133
Hey @lordrhodos,

I merged #139 last week which remove setter from generated Models as `readOnly` fields should do.
I'm not sure we should need to check if a model is containing a `readOnly` value before using it as endpoint request. What you think about it ?

[2019-10-14 08:07] #142 closed

[2019-10-16 14:59] maximehuran opened #144 "Be able to have nullable fields with strict parameter to true"
I have a JSON to declare my model with some nullable fields, but on the Model, the getter does not return nullable field.
Here is a part of my JSON :
[code]

But in the model, getter and setter are in that form :

[code]

To be able to use my model, I actually changed `strict` config to `false` :

[code]

[2019-10-17 08:47] Korbeil opened #145 "Migrate cs-fix check to GH Action"
Github Action is out 🎉

Let's migrate cs-fix dry run to Github Action.
See https://github.com/Korbeil/phpstan-generic-rules/blob/master/.github/workflows/CI.yml for an example.

[2019-10-17 08:47] Korbeil opened #146 "Migrate tests to GH Action"
Following #145

Let's migrate tests to Github Action, for this you'll need to make a Docker container and run tests inside it (see https://medium.com/8fit-tech-blog/github-actions-running-javascript-unit-tests-on-docker-20e2426ddc1 for a close example).

[2019-10-17 08:47] Korbeil opened #147 "Tests with fake API on CI"
Let's step up our tests !

Today we are running Client generation and check that generated Clients are matching what we think was ok (based on `excepted` folder).
I would like to test generated Client aswell, and running them against some "fake" API.

For this "fake" API, I think https://github.com/typicode/json-server would fit perfectly ! We just need a way to make this clean and working for mos

[2019-10-17 08:47] Korbeil opened #148 "[JsonSchema] deprecated behavior"
JsonSchema has a `deprecated` field which can be used on both Model or Property to indicate we should not use something as it could be soon removed.

See https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.3 for specs.

[2019-10-17 13:05] #140 closed

[2019-10-17 20:59] Korbeil commented on #145
#155 was bugged, #156 is here to fix it :wink:

[2019-10-21 09:27] lordrhodos commented on #133
Hi @Korbeil,

sounds great, I will give it a try soon.

I am not sure either at the moment. From what I remember the specification talks a lot about *should*  and *should not*  so maybe the removed setters during denormalization are enough at the moment. I will try to have have a closer look soon.

[2019-10-21 09:32] Korbeil commented on #133
:warning: @lordrhodos actual version cause a nasty bug (cyclic redundancy on denormalize), I need to investigate further, I'll revert all changes related to readOnly from `master` and make a branch to isolate them and try to fix this.

I had to revert `v5.2` release last week cause of this :disappointed: Sorry this feature is not ready yet.

[2019-10-21 09:43] lordrhodos commented on #133
@Korbeil ok, thanks for the heads up. I will need to look into another issue I have encountered and will be back with some feedback.

[2019-10-21 13:04] aukraiser commented on #145
There is still something wrong but this time I actually activated GA in my own version so I'll be able to test it before creating the PR which will save us time ^^.
I'll publish a new PR as soon as the test passes.

[2019-10-21 13:04] Korbeil commented on #145
I did some fixes on `master` branch

[2019-10-21 13:07] lordrhodos opened #157 "Mixed parameter type hint for response bodies added to endpoint construction and related client function signatures"
I came across the following issue when using a specification like this to describe a response model for an endpoint:

[code]

This leads to a contructor signature of an endpoint `Generated\Endpoint\CreatePricelist`

[code]

and the follwing signature of the related client method:

[code]

seems like this is related to the type for this schema being `null` when resolving the request body types via:

[2019-10-21 13:10] aukraiser commented on #145
Ok, that's what I did for the CI.yml. In the action.yml there may be a missing `output` declaration because I forgot to declare the `results` variable.

[2019-10-21 13:10] Korbeil commented on #145
Go for a PR then :wink:

[2019-10-21 13:44] aukraiser commented on #145
On the way 😉

[2019-10-21 21:08] lordrhodos commented on #145
@Korbeil @aukraiser not sure what your goals are, but IMO there are a couple of issues here:

- the actions fail because the composer install step requires the php `intl` extension which is not available using the [nick-zh/composer-php](https://github.com/nick-zh/composer) action which uses the [official composer docker image](https://hub.docker.com/r/nickzurich/composer-prestissimo/dockerfile). T

[2019-10-22 07:41] lordrhodos commented on #145
@Korbeil I have fixed the cs-check action by minimizing it and removing all unnecessary noise. You can see it working in the demo PR containing a code style validation #159

<img width="1428" alt="ci-check-code-style-validation" src="https://user-images.githubusercontent.com/807902/67266262-19748980-f4b0-11e9-86aa-d90f9b2c88bd.png">

[2019-10-22 07:42] Korbeil commented on #145
Awesome thanks a lot @lordrhodos

[2019-10-22 07:47] #145 closed

[2019-10-23 11:33] Korbeil commented on #133
FYI, new PR is available here: https://github.com/janephp/janephp/pull/162
I need to fix this cyclic reference issue now.

[2019-10-23 11:33] Korbeil commented on #157
Does #158 fully fix your issue ? Can we close this ?

[2019-10-23 13:24] lordrhodos commented on #157
Yes, thank you @Korbeil

[2019-10-23 13:24] #157 closed

[2019-10-25 13:22] #146 closed

[2019-10-27 20:33] Korbeil opened #166 "Improve documentation general description"
I made a talk at Forum PHP in Paris last week: https://slides.com/korbeil_/client-api-jane with a nice scheme that we can re-use for documentation purpose.

Here it is: ![](https://i.imgur.com/o5KKTYJ.jpg)

If someone wants to handle this, I can make a JsonSchema version (without API / HTTP stuff)

[2019-10-30 12:38] #148 closed

[2019-10-31 13:02] TerraSkye opened #168 "very bad performance creating client"
im having bad performance when generating a client for a large swagger file.
it takes upwards of 35 minutes of generating a client which in mine opinion should take no less then 1 or 2 minutes tops.
since it is a basic swagger docs, ill include a link to which can be used to test/debug.

https://developers.afosto.io/docs/swagger.json

so far ive been debugging and this is what i found.

when itera

[2019-11-15 09:57] Korbeil opened #173 "No content in requestBody"
When having no `content` field in `requestBody` but a `description` field, we should not handle requestBody and just ignore it.

See https://github.com/janephp/janephp/blob/master/src/OpenApi/Guesser/OpenApiSchema/OpenApiGuesser.php#L106

[2019-11-22 08:57] a-schild opened #178 "Yaml no longer supported, still in documentation"
We use the v5.2 of janephp, thanks for all the work done in this.

In the documentation at
[(https://jane.readthedocs.io/en/latest/OpenAPI/generate.html#configuration-file)] it is mentioned:

But when I try to process a .yaml file, I receive this error:

[code]

Looks like the documentation is outdated at this point.

[2019-11-22 09:25] Korbeil commented on #178
Hey @a-schild,

Yaml is correctly parsed here. It looks like you're trying to parse an OpenApi < v3.x with Jane 5.2 that is compatible only with OpenApi >= v3.x.
For more information about what version of Jane to use depending on your OpenApi version, read: https://jane.readthedocs.io/en/latest/OpenAPI/introduction.html

[2019-11-22 10:37] a-schild commented on #178
I tryed to use this openapi.yaml, which is 3.0, which throws this error

[OpenApi.zip](https://github.com/janephp/janephp/files/3879096/OpenApi.zip)

I did now merge it with the help of https://github.com/APIDevTools/swagger-cli into one yaml file, and now it has generated the clases as intended.

[Merged.zip](https://github.com/janephp/janephp/files/3879103/Merged.zip)

Does it not support $ref t

[2019-11-22 15:31] Niehztog opened #180 "Fatal Error - $context empty in SchemaNormalizer"
When running janephp v4 for an openapi v2.0 swagger file, after about 40 minutes I get this error:

[code]
[code]
If necessary I can provide the swagger file on request, but it looks more like a general issue to me (missing validation if `$context['document-origin']` is present).

[2019-11-22 15:34] Korbeil commented on #180
Hi @Niehztog, could you provide your OpenApi schema to see where the error could come from / reproduce your bug ?

[2019-11-22 15:46] Niehztog commented on #180
Hello @Korbeil and thank you for your quick reply. I uploaded the swagger file (35 MB) on my google drive here:
https://drive.google.com/file/d/1Ko3LAMO6BzhXrUEnqPu8SMkXoogPqfWn/view?usp=sharing

[2019-11-22 16:20] Korbeil commented on #178
I took your `Merged.zip` OpenApi definition and tried to generate it.
It works ! 🎉 So here is how I did:

[code]

This is what I've used for my configuration:
[code]

Here is the output:
https://gist.githubusercontent.com/Korbeil/7d9ecf3ae8d102de52d983391be2e3ff/raw/0b5e09d7c175465fddee542d4b04d365ee875914/output.bash

Could you check the Jane version you're using ? And your configuration file ?

[2019-11-22 17:48] a-schild commented on #178
@Korbeil The merged one did work, but not the originals inside of OpenApi.zip, which are the real sources I have.
And with them it didi not work.

I did merge the output.yaml with swagger-cli from the OpenApi.zip files, and then janehttp did work.

https://github.com/APIDevTools/swagger-cli

[2019-11-26 10:34] Korbeil commented on #168
Hi @TerraSkye, sorry for the delay, I forgot to answer your issue.

Actually I'm not focusing on improving generation performance, but if you have some time for doing it, it would be awesome.
To make some analysis I would recommend using Blackfire to see which functions are taking too much time and see how we could improve them.

[2019-11-28 22:39] Korbeil opened #186 "Component OpenApi2"
Introduce OpenApi2 component into `master` to remove `4.x` branch which is not that easy to maintain.

[2019-11-29 22:31] ilukac commented on #50
Hi,

Just to confirm I had similar issues with setting the base uri. Finally found this thread and made it work with:
`        $plugin = new AddHostPlugin(new Uri('https://foo.bar/'), ['replace' => true,]);
        $pluginClient = new PluginClient( HttpClientDiscovery::find(), [$plugin] );
        $apiClient = Client::create($pluginClient);
`
but it should be somehow configurable, or at least cove

[2019-11-29 22:37] ilukac opened #188 "Problem with properties containing special characters"
When I generated code for https://demo.api-platform.com/docs.json, it produced bad code. Cause of the problem are names of properties including chars like ":" or "@" which is not sanitized when generating function and variable names.

Might be simple just to remove this kind of chars before generating code?

[2019-11-30 19:50] #173 closed

[2019-11-30 20:26] Korbeil commented on #188
Hey @ilukac, thanks for reaching us with your issue.
Could you provide an example OpenApi spec file ? In order to reproduce your error :wink:

[2019-11-30 20:30] Korbeil commented on #50
Actually you can set it through the `servers` field in your OpenApi spec, see https://github.com/janephp/janephp/blob/master/src/OpenApi/Tests/fixtures/client-psr18/swagger.json#L15-L22 for an example (only one `url` is needed to generate it)

[2019-11-30 20:31] Korbeil commented on #50
Actually you can set it through the `servers` field in your OpenApi spec, see https://github.com/janephp/janephp/blob/master/src/OpenApi/Tests/fixtures/client-psr18/swagger.json#L15-L22 for an example (only one `url` is needed to generate it)

If you have multiple server urls, there is actually no way to set it through OpenApi spec, so you have to use your own plugin :+1:

[2019-11-30 20:42] Korbeil commented on #144
As stated in linked PR #191, it seems this issue is already fixed, so I'm closing this.

[2019-11-30 20:42] #144 closed

[2019-11-30 21:06] Korbeil commented on #178
Ok, I ran some tests, actually we do manage multiple OpenApi files but we need them to be full OpenApi spec, we do not support partial specs, such as splitting `paths` or `schemas` fields.
And, for every file you use, you need to declare them in your `.jane-openapi` configuration through `mapping` key.

So for your case, I'll suggest you to use the OpenApi merger before using Jane :wink:

[2019-11-30 21:06] #178 closed

[2019-12-01 11:40] a-schild commented on #178
@Korbeil Thanks for looking into it

[2019-12-01 12:09] ilukac commented on #188
I already did that :) It is the https://demo.api-platform.com/docs.json

[2019-12-01 12:12] ilukac commented on #50
Hm, I am not in control of the json openapi file, I just read it :/

[2019-12-01 16:00] Korbeil commented on #50
So you have to use the plugin like you said in your last comment.
About docs, we use plugins from `php-http`, you can see their docs here: http://docs.php-http.org/en/latest/plugins/index.html

[2019-12-03 19:42] Korbeil commented on #188
Ok, you can see the PR I created to track where we have problems, I see X things to fix:
- Model properties should be sanitized https://github.com/janephp/janephp/pull/193/files#diff-2456987c7b60ba2540bd297fcf77b573R5
- Model methods should be sanitized https://github.com/janephp/janephp/pull/193/files#diff-2456987c7b60ba2540bd297fcf77b573R36
- Normalizer::denormalize should use sanitized property

[2019-12-03 21:06] ilukac commented on #188
I cloned your branch and ready to test ;)

[2019-12-04 13:07] TerraSkye commented on #168
I can understand that the focus is not there, but having the generator taking more then 40 minutes and its increasing is kinda unwurkable

[2019-12-05 09:18] lordrhodos commented on #100
@Korbeil just came across this comment and wonder about the implications for Jane 5.x.

If I am not mistaken so does this mean that - as the `required` property is not supported - each field that is not set to either `nullable: true` or has a `null` type will be considered internally as being required right? So each of the properties need to be set on the models before being passed to an endpoint

[2019-12-05 09:25] Korbeil commented on #100
Exactly, actually `required` field is part of Validation spec which we don't support. Validation is actually proposed as an issue here: #10
We don't have something similar to `required` to say we "need" this field. So even saying a field is nullable won't help in a case that your field is required.

[2019-12-05 09:30] lordrhodos commented on #100
@Korbeil thx for your quick answer. We are currently using the client in strict type mode which will throw `TypeError`s if the properties are not set on the models, so for us these are kind of required.

I will work on updating our specification to add the nullable options. Thanks again for your clarification.

[2019-12-05 12:20] lordrhodos commented on #100
@Korbeil you are right about `required` being part of the validation spec, but I just saw that the OpenAPI spec officially supports the `required` field in the schema spec:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schema-object

So putting this into context when enabling strict mode and note being able to normalize request models or denormalize responses we may t

[2019-12-06 08:06] TerraSkye commented on #168
With a smaller file the critical points become visible.

[2019-12-06 10:04] TerraSkye commented on #168
@Korbeil ive did some digging and i found the following things.

- Within  https://github.com/janephp/json-schema-runtime/blob/169a0e410a06c95a79739f6fa352e1c54571d22b/Reference.php#L76 files are loaded on every reference it passes. this is causing a huge performance hit, also you will probably have noticed it since there was a TODO there

my fix for this
[code]
keeps the file in memory and decode

[2019-12-06 10:18] Korbeil commented on #168
Thanks for finding this ! It looks awesome :smile:

- I do think that checking for `yaml_parse` function is a good idea ! PHP extensions are often faster than PHP ones :wink: (I do not know benchs about this one actually, I will try to find one :wink:)
But like a colleague of mine told me: If you cache the Yaml output, the parser won't be a real problem.
- For the CS Fixer, @lyrixx already pointed

[2019-12-07 16:31] Korbeil commented on #188
It seems I fixed everything, do you still have problems ?

[2019-12-07 19:27] Korbeil commented on #168
So, following your investigation, I made two PRs:
- https://github.com/janephp/janephp/pull/196 To make `use-fixer` opt-in. It was enabled by default before, now you have to enabled it explicitly.
- https://github.com/janephp/janephp/pull/197 To have local cache in `Reference` following your example :wink:

[2019-12-09 07:26] TerraSkye commented on #168
I see you already made the PR's , i wasn't able todo it last friday :) but glad to see it got picked up  so fast!

both PR's are looking good to me!

[2019-12-09 08:31] lordrhodos opened #201 "Nullable array in OpenApi triggers Invalid argument supplied for foreach() error"
A schema with a nullable array property like this:

[code]

generates the following code for the normalizer of this property:

[code]

Which triggers an `Invalid argument supplied for foreach() ` error.

This seems to be an issue related to #174 .

[2019-12-09 09:00] Korbeil commented on #201
Thanks for your issue @lordrhodos ! Nice catch, I was afraid about this PR was forgetting some cases :/ Let's merge this :)

[2019-12-09 09:00] #201 closed

[2019-12-09 09:30] lordrhodos commented on #133
@Korbeil just had a quick look at the PR. As the proxy approach is targeted at v6 and adds quite some complexity, I am wondering if you would accept a PR for v5 to support the `readOnly` property.

I am currently using a custom branch of the forked repository for our api, which includes a fix based on this change:

https://github.com/lordrhodos/janephp/commit/554c74d445170185b5e2caa5fc73648e454397

[2019-12-09 11:01] lordrhodos commented on #133
@Korbeil I have added a PR with tests and a simplified solution for now. ;-)

[2019-12-09 17:59] Korbeil commented on #168
I've merged both PR, will close this issue. You can reopen it if you find something new :wink:

[2019-12-09 17:59] #168 closed

[2019-12-09 18:00] Korbeil commented on #188
I merged the linked PR, will close this issue. You can re-open the issue if you find something new ! :wink:

Thanks for sharing your issue !

[2019-12-09 18:00] #188 closed

[2019-12-09 18:57] Korbeil commented on #133
Closing this issue since we merged the related PR.

[2019-12-09 18:57] #133 closed

[2019-12-11 09:58] ilukac commented on #188
Just tested it and had no problem!  Great work @Korbeil, thank you!

[2019-12-17 08:31] ilukac opened #207 "Possible problem with generating transformResponseBody"
Hi,

I generated the code based on [api platform demo](https://demo.api-platform.com/docs.json ) and expected that I will get the Book object, not the stdclass.

Check the transformResponseBody for GetBookCollection I saw:
[code]

But for another generated object it looks ok in GetParchmentCollection:
[code]

If I change the first one it works ok:
[code]

Wondering if its possible to figure out ho

[2019-12-18 13:48] kayneth opened #209 "Components Normalizer schema regex not allowing API-Platform DTO"
Hi :)

I wanted to try Jane to produce a PHP Client for a simple API-Platform. There is only Books. But with Input and Output DTO.

Issue
---
It doesn't normalize Inputs. Generated Endpoints are then awaiting for `\stdClass`.
(ex: `$this->body instanceof `\stdClass`)

[The current Regex](https://github.com/janephp/janephp/blob/v5.2.2/src/OpenApi/JsonSchema/Normalizer/ComponentsNormalizer.php#L49)

[2019-12-18 13:52] Korbeil commented on #209
This regex is actually based on official OpenApi schema: https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v3.0/schema.json#L196
We only generate Models & Normalizers based on this specification, if you want to modify it you can ask on their repo, we support OpenApi we do not modify it.

[2019-12-18 13:52] #209 closed

[2019-12-18 13:53] Korbeil commented on #209
You can have custom swagger definition by using `swagger_definition_name` in API Platform, it will solve your issue.

[2019-12-18 13:55] bastnic commented on #209
@kayneth and this is actually documented here: https://api-platform.com/docs/core/swagger/#changing-the-name-of-a-definition, you can for example add a `swagger_definition_name` on you api_platform definition:

[code]

[2019-12-18 14:15] kayneth commented on #209
@bastnic I would agree with you for a simple resource with no Input DTO. And I've already read this part in the documentation. Thanks anyway (and thanks for the people who might come across the issue later) 😅

However, the [`SchemaFactory::buildDefinionName` method](https://github.com/api-platform/core/blob/v2.5.3/src/JsonSchema/SchemaFactory.php#L203) will concatenate the resource short name with

[2019-12-20 10:56] Korbeil commented on #207
I found the issue, it's because API Platform use `:` in their OpenApi spec and it's not a valid character for an OpenApi spec.
See `"$ref": "#/components/schemas/Book-book:read"`, this is the line that won't work since we don't generate BookBookRead because of the `:`.

You can see [this issue](https://github.com/janephp/janephp/issues/209#issuecomment-567040243) for more details and some workarou

[2019-12-20 10:56] #207 closed

[2019-12-20 11:06] ilukac commented on #207
Got it. Thanks!

[2019-12-31 09:40] #186 closed

[2020-01-05 14:03] johnss opened #219 "application/x-www-form-urlencoded"
how to add support application/x-www-form-urlencoded as object with extending symfony serializer, i want to decode youtube.com/get_video_info

[2020-01-05 19:08] Korbeil commented on #219
Hello @johnss,

We actually only support `application/x-www-form-urlencoded` as `bodyRequest` parameter and not as response.
To introduce this kind of behavior you'll have to take a look at https://github.com/janephp/janephp/blob/master/src/OpenApi/Generator/EndpointGenerator.php#L520-L550 which corresponds to `application/json` content behavior, you need to add something similar for `application/

[2020-01-08 13:41] johnss commented on #219
is it possible to change that without editing /vendor directory probably by extending the class? how about edit/change the response content  by converting to urlencoded string to array and use json encode this way i think more simple to do than change the behavior of that class

[2020-01-09 15:17] slacker775 opened #225 "Doesn't appear that references for requestBody are handled correctly"
I have this schema definition that appears to be correct, but fails due to the getContent() method call in OpenApiGuesser.php failing since a Jane\JsonSchemaRuntime\Reference is returned:

[code]

Upon generation, it blows up with:

[code]

I suspect the requestBody operation should be similar to the response handler section?

[2020-01-09 15:19] Korbeil commented on #225
Hello @slacker775,

There is actually a PR open for this issue: https://github.com/janephp/janephp/pull/217
It should be fixed soon ;)

[2020-01-10 08:00] #225 closed

[2020-01-12 05:04] atymic commented on #180
Also having this issue, tried with the offical twitter openapi v3 spec:
https://api.twitter.com/labs/1/openapi.json

@Korbeil let me know if there's any other info you need. Tried with both PHP 7.2 & 7.3

[2020-01-12 05:05] atymic commented on #180
Here's a screenshot of the debugger when it crashes
![image](https://user-images.githubusercontent.com/50683531/72214405-530bdc80-3555-11ea-8ed4-3dcc1e605a1b.png)

[2020-01-12 21:50] Korbeil commented on #180
Thanks for sharing, your file is way easier to evaluate since it's only 10kb (vs 36mb for the other one), I'll try to look at this bug tomorrow :wink:

[2020-01-12 21:58] atymic commented on #180
No worries :)
I tried a hack fix of force setting the `$context` but it didn't work (just caused other errors).

[2020-01-13 12:20] Korbeil commented on #180
And I fixed it :wink: See #226, I'll try with @Niehztog file later to see it does work for him aswell !

[2020-01-13 14:52] Korbeil commented on #180
@Niehztog I moved a bit forward for your issue. Your file is no longuer blocked while generating and takes only ~20min now. But, when generating, some Normalizer, our Naming class output related Normalizer file name and this occur:
![image](https://user-images.githubusercontent.com/944409/72265279-882f3200-361c-11ea-9e5d-33540feb0adf.png)

I have to see how I can shorten this filename :smile:

[2020-01-13 16:57] Korbeil commented on #180
Ok, everything is solved:
- Our main issue was the time needed to generate your file, quite a pain to wait ~20min to see if my script is broken, so thanks to @bastnic (see #227) we got a nice improvement that make your file need ~2min to generate now :ok_hand:
- We got a small issue on a missing context, but this was not something hard to solve, just needed to reproduce some stuff we already do in

[2020-01-13 17:10] bastnic opened #228 "Consider disabling garbage collector on generation"
Remembers https://scrutinizer-ci.com/blog/composer-gc-performance-who-is-affected-too

![image](https://user-images.githubusercontent.com/84887/72276292-e1549100-362f-11ea-91b6-541d85485ebb.png)

`php -d zend.enable_gc=0 vendor/bin/jane-openapi generate`

[2020-01-13 17:41] Korbeil commented on #180
And I'm back, the solution for filename with more than 255 was not working, I need to find something better !

[2020-01-13 20:08] Niehztog commented on #180
@Korbeil , thank you so much for fixing this. Your merge request looks as if it was a lots of work to do (many changed lines and files).
Will this be merged into the v4.x branch aswell?

[2020-01-14 02:07] atymic commented on #180
Tried to give it a go but I can't seem to run `dev-master`. Will give it a go once tagged :)
[code]

[2020-01-14 07:52] Korbeil commented on #180
@Niehztog many files were added cause I took twitter OpenApi spec into our fixtures, to be sure we won't have same issue again :wink:
For `4.x` branch, no I won't merge this fix in `4.x` since we now have an OpenApi2 component on `master` branch aswell :wink: Keeping `4.x` branch up-to-date is very hard so I moved it onto `master` with some improvements :wink:

@atymic This should work actually, w

[2020-01-14 15:55] HanXHX opened #229 "Nullable datetime not managed on normalizer"
Hi,

I use a openapi generated client with nullable datetime. But the normalizer doesn't manage properly nullable datetime.

Lib: jane-php/open-api = v5.2.2

[code]

Caused by:

[code]
Expected:

Normalizer on nullable Datetime should test null before call `\DateTime::createFromFormat`.

Kind regards,

EM

[2020-01-14 15:58] Korbeil commented on #229
Hi @HanXHX,

Thanks for reporting this issue !
Could you also share the related OpenAPI specification you used to generate this Normalizer ?

Thanks !

[2020-01-14 16:03] HanXHX commented on #229
Yep: https://gist.github.com/HanXHX/39830f066c06cbcd8ffb35e296d179b0

[2020-01-14 16:04] Korbeil commented on #229
And what was your `.jane-php` configuration ? Did you used the `strict` parameter ?

[2020-01-14 16:06] HanXHX commented on #229
Config:

[code]

I didn't set any `strict` parameter.

[2020-01-14 16:09] HanXHX commented on #229
Have a look in `/generated/Normalizer/AccountNormalizer.php`

[2020-01-14 16:12] Korbeil commented on #229
Thanks ! We made a similar fixe recently #174. But it seems we forget to cover the nullable parameter case for objects (including `\DateTime`). I'll make a fix later or you can take care of it if you want to try :wink:

[2020-01-14 16:18] HanXHX commented on #229
I made a test with `strict` set to `false` i don't have any errors.

Haha, I just look your code... If i had more time to analyze, for sure... :stuck_out_tongue:

However, thanks for your responses :+1: :+1: :+1:

[2020-01-14 16:22] Korbeil commented on #229
`strict` parameter is a way to make all fields nullable for our library. It's a bit hacky but it does resolve issues when we forget some parts of the OpenAPI specification. It will make all your models / parameters / ... accept nullable values event if you don't want it, sometimes a bit too much.

Anyway, I'll fix it later so you can use Jane with `struct = true` (default value).

[2020-01-15 17:04] #229 closed

[2020-01-15 17:54] HanXHX opened #231 "Binary content-type not managed?"
Hi,

I'm not sure, but it seems Jane does not manage binary format. When we use FETCH_OBJECT, it returns `null`, expected `BinaryFile` (or a `string`).

OpenAPI spec: https://developers.recurly.com/openapi/v2019-10-10.yaml

OpenPI Method:

[code]

OpenAPI schema:

[code]

Generated code in Client.php

[code]

Hack used to bypass this issue:

[code]

Cheers,

EM

[2020-01-16 10:22] atymic commented on #180
@Korbeil that's not the issue 🤔

[code]

[2020-01-17 00:15] atymic commented on #180
Perfect, that worked fine.

[2020-01-23 18:18] WubbleWobble opened #236 "5.x - interface mismatches"
Hi :)

Not sure if I'm doing something wrong, but I can't get anything out of 5.x

Running vendor/bin/jane-openapi generate causes a "declaration must be compatible with xyz" error:

[code]

I can of course fix this up by adding the missing ": void", but I then immediately hit another similar error (this time on ModelGenerator::doCreateClassMethods), and I expect I'd keep hitting them (maybe?)

In

[2020-01-24 18:10] WubbleWobble commented on #236
I've just cloned directly from this repo, and it works fine without problem.

The problem therefore must have something to installing via composer / packagist.

[2020-01-25 14:51] Korbeil commented on #236
Hi,

I looked at your issue, there was 2 problems:
- First I got to update some packages on Packagist, then change your `composer.json` with `jane-php/open-api-3` (instead of `jane-php/open-api`, which is deprecated).
- Then your YAML file seems valid but not readable by our YAML parser, you should lint it to something more clean (no `{}` or `[]` except for inline declarations for example)

Here i

[2020-01-25 14:51] #236 closed

[2020-01-25 15:11] WubbleWobble commented on #236
Ah ok - I was following instructions here:
https://jane.readthedocs.io/en/latest/OpenAPI/introduction.html

All seems to be working now - many thanks :)

[2020-02-04 23:38] atymic opened #248 "Invalid PHP files generated when method name contains invalid characters"
The twitter api is weird as, and all methods are suffiexed with `.json`. I guess accept headers are too hard? 😛

Anyhow, this is causing jane to generate really, really broken classes. It's also  resulted in every single endpoint being a different PHP file.

I'll have a go at fixing, but thought would report as well :)

Spec: https://gist.github.com/atymic/a481a5b28d501b6b0abc398821efe312

Failed

[2020-02-11 16:18] Korbeil opened #252 "[DX] Generation progress"
It would be awesome to have a detail about generation progress and list of generated classes by group (Model / Normalizer / Endpoint / ...)

Exemple output:
[code]

[2020-02-11 22:08] #248 closed

[2020-02-27 10:26] edmondscommerce commented on #236
got caught with the same issue - docs need updating it seems

[2020-02-27 13:56] Korbeil commented on #236
I just updated jane documentation https://jane.readthedocs.io/en/latest/ this should not reproduce with new one (see #244 for details)

[2020-02-28 13:35] edmondscommerce opened #261 "Non Nullable Array Return Type Property Not Required"
I'm trying to to put together a modern client library for SignReques - WIP is here:
https://github.com/edmondscommerce/signrequest-php7-client/

Getting this error when doing basic test:
[code]

Line causing the issue is here:
https://github.com/edmondscommerce/signrequest-php7-client/blob/master/src/Client/Model/SignRequestQuickCreate.php#L331

Relevant schema line is here:
https://github.com/edm

[2020-02-28 19:12] Korbeil commented on #261
Hey @edmondscommerce !

You'll need to have either:
[code]
Or:
[code]

That way you can tell OpenApi that your field can be `nullable`, I do recommend first choice, since second choice is inherited from JSON Schema library and not included in OpenAPI specs.

[2020-03-02 09:17] edmondscommerce commented on #261
Hi thanks for the reply

In this instance I'm not in control of the spec so I have a few choices

1. Go through the hassle of initialising all arrays as empty arrays in userland
2. Post process the spec to allow nulls as well as arrays, however I am not sure the server will actually accept nulls in place of arrays
3. Post process the Jane generated code and set all the array properties to arrays
4

[2020-03-02 09:35] edmondscommerce commented on #261
OK playing with this some more I decided to set default values for the arrays in the spec manually by finding `"type": "array",` and replacing with `"type": "array", "default": [],`. This has solved the array properties problem and now I'm getting type errors on bools.

I think the issue is that the properties are not required in the spec however they do not have default values set and are not nul

[2020-03-02 09:38] edmondscommerce commented on #261
FYI the bools issue in the spec is here:

https://github.com/edmondscommerce/signrequest-php7-client/blob/11e77b6c994b24f6c56da7d6921ce747e51636a5/SignRequest-OpenAPI3-Swagger.json#L3991

[code]

[2020-03-02 09:51] edmondscommerce commented on #261
For now I'm going to tweak the spec manually until it passes basic smoke testing and then push this back to SignRequest to see what they say

[2020-03-02 10:28] edmondscommerce commented on #261
actually realised that there are a huge number of affected properties - instead I'm trying the non strict Jane client for now

[2020-03-04 12:59] Korbeil commented on #261
I think the best thing to do is to use the non-strict mode, since your spec file is not accurate. But you should ask the company that made it to fix it.
Using a strict mode is way better ~

Will close the issue since you found a way to fix it.

[2020-03-04 12:59] #261 closed

[2020-03-04 13:00] edmondscommerce commented on #261
yes agreed, happy to close

I'm afraid I've had to abandon the whole idea for now but I will leave the repo up there in case its useful to anyone else and/or they eventually update to a proper OA3 spec

[2020-03-23 08:58] TerraSkye commented on #180
@Korbeil  there have been some performance improvements  but to increase performance for you as well i can suggest the following :
- convert yaml to json yourself ( performance increased dramaticly )

 (My fix for reference )
[code]
also disable the use-fixer and run that after that
[code]
we went from 45 min generation time. to sub 1 minute.

[2020-03-23 09:02] Korbeil commented on #180
Yes, that's because of some recent PRs, you can see more details on last release blog post here: https://jolicode.com/blog/jane-v5-3-performances-authentication-openapi-2.

By the way, this issue is solved, if you have issue not related to first post, please open a new issue. I will close this one.

[2020-03-23 09:02] #180 closed

[2020-03-23 10:37] TerraSkye commented on #180
@Korbeil  Funny to see i'm never being mentioned in the blogpost
while i've contributed to it for sure.
Anyways glad to see there is a huge performance increase.  and that we all can profit form it.

[2020-03-31 13:23] panos-zamos opened #274 "query_string with bool options"
With this setup:
[code]
Expected query string is `active=false`
Actual query string is `active=0`

This is how `http_build_query()` represent bool variables but API has defined that parameter as `bool` and accept string representation like   ##`true/false` and does not accept int (`0/1`)

[2020-03-31 21:03] chadyred opened #275 "PSR-18 error"
The generate files for psr18 requested is

[code]

But `Psr18Client` wait for a `ClientInterface` in first argument injected here:

 `new static($httpClient, $requestFactory, $serializer, $streamFactory)`

 but ` $httpClient = new \Http\Client\Common\PluginClient($httpClient, $plugins);` doesn't implement it.

 So, we :

[code]

[2020-03-31 21:32] Korbeil commented on #274
Hey @panos-zamos !

Thanks for reporting this issue !
Could you tell me which version of Jane you're using ? `v4.x` / `v5.x` / `dev-master` ?

The issue you're describing could be an issue from [OptionResolver](https://symfony.com/doc/current/components/options_resolver.html) component, I'll look tomorrow if we can fix that on our side :wink:

[2020-03-31 21:38] Korbeil commented on #275
Hey @chadyred,

Thanks for sharing your issue !

There is probably something with dependencies there, could you share your composer `jane-php/*` & `php-http/*` versions please ? (use composer info output is enought for that :wink:).
From what I can see localy & on github, the HttpClient does implements `ClientInterface` (see https://github.com/php-http/httplug/blob/master/src/HttpClient.php)

[2020-03-31 22:07] chadyred opened #277 "Error by format date-time with demo `RandomCats`"
When I try to use the time, I have an error with this example :

[code]

It generate for `DateTime::createFromFormat()`

[code]

But it should be format like

[code]

As explain here, with the example of `Response` for `updateAt` we have `2020-01-02T02:02:48.616Z` and `616` is the 3 digit which required the good format as explained [here](https://www.php.net/manual/fr/datetime.createfromformat.php

[2020-04-01 08:55] panos-zamos commented on #274
Hi @Korbeil, thanks for quick response,
I'm using Jane v5.3.

I don't think the problem is with OptionResolver but maybe it could be fixed in OptionsResolver using Normalizer for bool values.

My quick fix was in application/vendor/jane-php/open-api-runtime/Client/BaseEndpoint.php :
[code]

[2020-04-01 09:57] chadyred commented on #275
Thanks for your reply. My `php-http/httplug` is very old :

[code]

And it doesn't implement interface at this version the `ClientInterface`:

https://github.com/php-http/httplug/blob/v1.1.0/src/HttpClient.php

It seems another package lock it at this version. I will investigate more and I will come back later to close the issue.

I try to enforce the v2 of httplug ;)

[2020-04-01 10:35] Korbeil commented on #275
Since we rely on PSR-18, we are not compatible with `php-http/httplug` v1, I think updating will solve your issue here :wink: I'm gonna close the related PR, feel free to open a new one if needed.

[2020-04-01 10:51] chadyred commented on #275
So all works as expected : the sylius@1.6.5 (not in v1.7) locked php-http/guzzle6-adapter at v1 which lock php-http/client-common at v1 and so php-http/httplug at v1.

Solved with `composer update php-http/guzzle6-adapter php-http/httplug php-http/client-common`

Thanks !

I close issue.

[2020-04-01 10:51] #275 closed

[2020-04-01 11:05] Korbeil commented on #274
After looking a bit further, I don't think we should modify this in Jane, actually we are using the default behavior (having 0 or 1 for bool values).

Your issue is because of your API doesn't follow this, I think we should make OptionResolver extentable in an easier way, actually you have to extends all Endpoint you want to fix, what you think about declaring the OptionResolver on the Client clas

[2020-04-01 11:28] Korbeil commented on #277
Hey @chadyred and thanks for reporting your issue !

Actually you can change the input format with the `date-format` option.
Read more at https://jane.readthedocs.io/en/latest/OpenAPI/generate.html#options.
This option can take any date format :wink:

By default we do use `\DateTime::RFC3339` (which is same as `Y-m-d\TH:i:sP`) for this option.

[2020-04-01 11:47] panos-zamos commented on #274
Yes, you are right, there was a bug in our API with validation that was refusing true/false as string `'1'` and `'0'`.

[2020-04-01 11:52] Korbeil commented on #274
Since you found the issue in your API, I'm closing this issue, feel free to open a new one if needed :wink:

[2020-04-01 11:52] #274 closed

[2020-04-01 12:11] panos-zamos opened #278 "Make endpoints extendable with header getter()/setter()"
Usecase: our API expects `X-Application-ID` header on every request and that parameter is marked as default in OpenApi spec and I would like that our SDK clients could be able to do something like:

`$myClient->setDefaultHeaders(['X-Application-ID' => 'some-config-value',]);`

instead of forcing them to send it in every endpoint call like
`$result = $client->getFoo([], ['X-Application-ID' => 'some

[2020-04-01 17:10] chadyred opened #279 "Creating a custom Authentication with only one url `/Token`"
Hello,

I have an URL which give me the token : `/Token`(I have to set an `Authorization header` needed to get the token, with a hard-code value).

So I want to inject this token receive in response for each request. I **have** only `/Token` : no refresh, or authorize URL.

In this article I try this two possibility : https://jolicode.com/blog/jane-v5-3-performances-authentication-openapi-2

But i

[2020-04-01 17:15] chadyred commented on #277
Perfect, it works like a charm. Thanks a lot !

[2020-04-01 17:15] #277 closed

[2020-04-01 19:27] Korbeil commented on #278
Hi @panos-zamos and thanks for sharing your issue !

Actually I do have the same issue on an API I'm using, what we do is we use a [scoped HttpClient](https://symfony.com/doc/current/components/http_client.html#symfony-framework-integration) that have this header by default, if you are using Symfony this would make something like that:

[code]

Or if you're not using Symfony, with plain PHP:

[cod

[2020-04-01 19:36] Korbeil commented on #279
Hi @chadyred and thanks for sharing your issue :+1:

You can make you own custom Authentication plugin, something like that:

[code]

The code isn't that clean, I just took one of the fixture Authentication plugin as a base, but you can get the idea with that :wink:

After having your Authentication plugin, you can use it when creating your Jane client: `Client::create(null, $authenticationPlugin)

[2020-04-02 09:58] panos-zamos commented on #278
Hi @Korbeil
This would work if that header was not marked as required in OpenApi spec because when it is marked as required in OpenApi then in generated endpoint, in $optionsResolver it is set as a required option and that will throw MissingOptionsException.

[2020-04-02 10:30] chadyred commented on #279
Thank you for your reply, this is what I tried, and I read just now your feedback which confirm that this idea is the way to go and to use t.

Thanks ;)

[2020-04-02 10:30] #279 closed

[2020-04-02 14:08] chadyred opened #281 "Use port define for server"
As explains here :

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#serverVariableObject

Is it possible to use default port like this :

[code]

It works as expected when I generate API with this modification

See @https://github.com/janephp/janephp/pull/283

[2020-04-03 10:06] chadyred commented on #281
You target the 5.x version but the file I had editing on the @#280 does not exist here :

`https://github.com/janephp/janephp/tree/5.x/src/OpenApi3`

[2020-04-03 10:11] Korbeil commented on #281
Yes, the file in in `https://github.com/janephp/janephp/tree/5.x/src/OpenApi`
OpenApi is actually deprecated, so I moved all code in OpenApi3 for 6.x (master) :wink:

[2020-04-03 10:31] chadyred commented on #281
I change branch and make my change on `OpenApi` folder (https://github.com/janephp/janephp/pull/283)

[2020-04-03 12:17] bakkerpeter commented on #180
@Korbeil not cool

[2020-04-03 13:29] chadyred commented on #147
Does this tool act with interceptor (more Mocking concept over fake API over Network with real response) like `nock` : you define your own response ?

`It will intercept an HTTPS GET request to /repos/atom/atom/license, reply with a status 200, and the body will contain a (partial) response in JSON` we given.

https://github.com/nock/nock#read-this---about-interceptors

I think about the network l

[2020-04-03 14:20] chadyred opened #284 "PSR-2 - No new line in generated file"
We never edit the generated files except when we add test and we create our expected behavior, lots of IDE will add this new line at the end.

So I remove it with a `head` linux command for the test.

In fact, this is in the PSR-2 rule for files, use on the under layer of lots of IDE :

https://www.php-fig.org/psr/psr-2/#22-files

The idea is to:
- add new line at the end of file during generation

[2020-04-06 15:00] #284 closed

[2020-04-06 15:01] Korbeil opened #285 "[DX] Add console option to dump configuration"
:point_up: all in title, add a console option to generate command to dump configuration

[2020-04-07 07:35] #281 closed

[2020-04-07 07:36] Korbeil commented on #281
Closing this issue since #283 has been merged

[2020-04-07 07:54] Korbeil commented on #147
Acutally https://github.com/typicode/json-server does run a "real" API, my idea here was to make a "big" API for each component that regroup everything we should test. It is not mandatory to test everything, but some stuff like Authentication should be tested for example ~

[2020-04-07 08:01] Korbeil commented on #147
Another solution would be https://github.com/stoplightio/prism (thanks @damienalexandre for sharing !), it looks really awesome !

[2020-04-11 16:25] Korbeil opened #288 "Authentication update for 6.x"
To update:

- Generate a plugin directly instead of a class that generate a Plugin through an anonymous class (useless abstraction there)
- Add documentation on how to use Authentication for both `open-api-2` & `open-api-3` components

[2020-04-13 19:18] #285 closed

[2020-04-17 10:06] #228 closed

[2020-04-17 10:06] #166 closed

[2020-04-17 12:45] jeremyFreeAgent opened #291 "Null values handling in normalizers"
Hello I found the following issue in the normalizers:

Before 5.3.0
[code]
Since 5.3.0
[code]

What about a skipNullValues like Symfony?

[2020-04-17 13:07] Korbeil commented on #291
Hey @jeremyFreeAgent and thanks for reporting !
We also had this issue and fixed it with a new opt-out option https://github.com/janephp/janephp/pull/263.

But you're not the first to reach me about this issue, I think I should rename the option with something better !
Thanks for pointing me about Symfony fix for this ! I will probably use some wording close to them (related PR https://github.com/

[2020-04-17 13:23] jeremyFreeAgent commented on #291
By the way I'm using JsonSchema.

[2020-04-17 13:24] jeremyFreeAgent commented on #291
[code]
on master (v6) works.

[2020-04-20 17:29] #291 closed

[2020-04-20 17:34] #288 closed

[2020-04-23 09:46] dinamic opened #294 "Tag a release with newest league/uri"
The last release as of today is 5.3.2, but it still depends on `"league/uri": "^5.3"`, while the master branch has it as `"league/uri": "^6.0"`.

Could a new release be tagged, please?

We keep on seeing these warning messages because of the old version still in use..

[code]

[2020-04-23 09:52] Korbeil commented on #294
`master` branch is actually a new major version, this is why this tag is a bit longer to come.

I need to merge https://github.com/janephp/janephp/pull/290 (whitelist feature) & I would like to make a clean in code (some factoring and probably add something like an `EventDispatcher` to improve customization possibilities of the guessers / generators.

But you can use `dev-master` for your library,

[2020-04-23 12:02] Korbeil commented on #294
`v5.3.3` is now available with `league/uri` upgrade :wink:

[2020-04-23 12:02] #294 closed

[2020-04-23 21:39] Korbeil opened #297 "OpenAPI v2 null support"
Actually the spec doesn't support `null` type.
We should support some custom field (such as `x-nullable: true`)

See https://stackoverflow.com/a/48114322 for a complete detail about null handling.

[2020-04-25 01:20] Jaesin opened #299 "NonBodyParameterGenerator::getDefaultAsExpr() support for parameters with schema references."
When a parameter has a reference for a schema, `NonBodyParameterGenerator::getDefaultAsExpr()` throws the error:

[code]

My temporary fix was:

[code]

Example OAS3 schema:

[code]

[2020-04-25 15:52] Korbeil commented on #299
Hey @Jaesin, thanks for reporting your issue !
Please could you also share which version of Jane you are using ?

[2020-04-26 19:06] #297 closed

[2020-04-27 16:59] Jaesin commented on #299
Hi Korbeil,

I have `dev-master` in `composer.lock`.

- `jane-php/open-api-3`: `cd2bd9e300a644f58d3cf79f74bbdd8a09e70dee`
- `jane-php/open-api-runtime`: `91e18ff3a17d39b21f5121853282d3deaeedbd83`

[code]

[2020-04-28 13:17] Korbeil commented on #299
Thanks for your reply !
Could you try by replacing both dependencies with `"jane-php/jane-php": "dev-master"`. Actually I do not recommend to components when you target `dev-master` because composer tends to fetch 5.x components for internal dependencies (you can check if that's your case by doing `composer info jane-php/*`, you'll have all related packages and you will see if there is missmatch t

[2020-04-30 18:20] Jaesin commented on #299
This is what I get before:

[code]

After:

[code]

The error still happens:

[code]

[2020-04-30 21:34] Jaesin commented on #299
This also seems to affect v5.3.3.

[2020-05-01 17:29] Korbeil commented on #299
I tried to reproduce your issue with OpenAPI 3 on master branch with following schema:

[code]

But it's working fine. You can see I added a "name" field on the parameter which was missing on your declaration. Could you share me a more detailled schema please to reproduce your issue ?

[2020-05-05 16:47] miken32 opened #303 "Unmet dependencies with composer installation"
Changes in commit 7487d21 introduced usage of the `Jane\OpenApi3\Guesser\GuessClass` trait into `Jane\OpenApiCommon\JaneOpenApi`. But this trait doesn't exist without installing the `jane-php/open-api-3` package.

I assume this is a bug since this class is in the `jane-php/open-api-**common**` package, and the documentation says we don't need to install both:

[2020-05-06 10:14] dstollie opened #304 "oneOf and anyOf not properly parsed when handling exceptions"
In my open api v3 definition im trying to use the anyOf/oneOf as a return possible return type of an exception.

The definition:

[code]

THe generated result does not do anything with the  definition and sets no parameters:

[code]

When I look into the code of this library I see that anyOf/oneOf is taken in account in some other places but not in the exception handling.

How can I fix this probl

[2020-05-06 15:54] #303 closed

[2020-05-14 22:02] JohanLopes opened #307 "[Whitelist paths] Infinite loop on circular reference in models"
For my SDK, i want to generate only a few endpoints defined in my openapi V3 specs, so i use the whitelist path feature. However, a schema model contains a relation on itself that produce an infinite loop to determine the needed models to generate.
(see the simplified example below 👇)

My Jane config file:
[code]

My openapi specs :
[code]

When i launch the CLI command `php vendor/bin/jane-openap

[2020-05-16 15:20] Korbeil commented on #304
Hi,
Thanks for reaching us about your issue !

In Jane we do generate client based on 3 steps:
- Guessing
- Analyzing
- Generation

During Guessing & Analyzing parts we extract your JSON Schema / OpenAPI scheme and we try to understand it. Theses steps are crucials but are mostly written by hands to know which fields can be used or not.
Often there is fields we do not support because we did not th

[2020-05-19 00:15] Jaesin commented on #147
I think this is a great idea. I usually add a middleware that returns mock responses that are generated using the serializer. An example: https://github.com/apigee/apigee-mock-client-php

[2020-05-19 00:46] Jaesin opened #310 "Nullable is not respected in OASv3 when it is part of `allOf`."
If I have a response property that can be null and I am referencing a base type that isn't nullable, I have.

[code]

But that doesn't produce a property that can be null. Instead I have to use:

[code]

The schema above produces an object model in which `foo` can be null.

I also tried:

[code]

But this doesn't look like proper schema and doesn't produce a model in which `foo` can be null.

[2020-05-22 06:48] FilipBenco opened #312 "Use of custom Runtime Classes in Generation"
Hi,

I have a case, where I would greatly benefit with being able to tell generator to use my own runtime trait / classes in generated client.

My use case is, that we handle pagination using request & response headers. What I need is basically check, if each array response does not contain also pagination header & then include that pagination into response.

I managed to do this creating custom `

[2020-05-22 07:10] #307 closed

[2020-05-22 09:19] NickStemerdink opened #313 "PHP Notice: Undefined index: object in /var/www/html/vendor/jane-php/open-api/Generator/Parameter/NonBodyParameterGenerator.php on line 166"
When a(n) (POST) operation contains this parameters section an error will occur:

[code]

**Trace**
[code]

**Version**
`jane-php/open-api-3                v5.3.2 `

[2020-05-22 12:20] Korbeil commented on #312
Hi @FilipBenco,

Actually the easiest way is to add an option before generation to specify which trait to use for PSR7 endpoints.

Feel free to give a try, you can read more about how Jane works and how to contribute there:
- https://jane.readthedocs.io/en/latest/contributing/how.html
- https://jane.readthedocs.io/en/latest/contributing/tests.html

[2020-05-22 12:26] Korbeil commented on #310
Hi @Jaesin,

Thanks for reaching us about this issue.
Actually Jane try to comply with specification as most as possible, but since we have to specify each cases.

I'll keep that and will try to fix this when I have free time. If you have time feel free to take a look, you can read more about how to contribute on Jane here:
- https://jane.readthedocs.io/en/latest/contributing/how.html
- https://ja

[2020-05-22 12:39] Korbeil commented on #313
Hi @NickStemerdink,

Thanks for reaching us about your issue !
I think there is something strange there.
You have an object in your query ? Having something like an array of strings with string keys why not, but object is not something that should be possible I think.

Here is an example for array of strings with string keys:
[code]

Could you give me more context to understand your use-case here

[2020-05-24 19:05] jwundrak commented on #299
Hi,

I using version 6.0, but running in the same issue.

[code]

Not direct through the `getDefaultAsExpr()` method, but the problem is the same: Generator tries to call `getDefault` of `\Jane\JsonSchemaRuntime\Reference`. Adding only a method `getDefault()` to this class, resolves generation.

An example YAML:

[code]

[2020-05-25 14:32] NickStemerdink commented on #313
Yes, I agree. I was also a bit confused about this, but it seems to be supported by swagger (I might be wrong). The generated Swagger docs also seem to be able to handle this, see screenshot.

**Screenshot**
![Screenshot from 2020-05-25 16-30-37](https://user-images.githubusercontent.com/1737701/82821844-10fc8b00-9ea5-11ea-8111-abd22791212f.png)

**The operation**
[code]

Reference: https://swagge

[2020-05-25 20:25] Korbeil commented on #313
So, basically, this "object" type is interpreted as string type.
The fix is kinda easy but I'll make it work only if your additionalProperties is exactly matching this.

[2020-05-25 21:56] Korbeil commented on #299
Thanks @jwundrak for this example ! That will help me a lot to fix this issue.
I started a PR about it, it's a little harder than I thought it would be, but we'll get it :ok_hand:

[2020-05-25 22:06] jwundrak commented on #299
@Korbeil Great and thanks for the fast response. Adding the `getDefault()` method was only a workaround for me, to get it work, but it is cool, that you focused in a correct way of handle this.

Thanks again!

[2020-06-03 20:16] #312 closed

[2020-06-03 20:17] #313 closed

[2020-06-03 20:18] Korbeil commented on #313
Hi @NickStemerdink,

This issue was closed automatically, I merged the fix for this, could you make a try and reopen the issue if anything doesn't work ?

Thanks for your feedback again!

[2020-06-04 10:16] NickStemerdink commented on #313
Will do, thank you very much :+1:

[2020-06-10 07:25] HanXHX opened #323 "Jane 6.0 is not compatible with SF4"
Hi team,

I wanted to upgrade Jane in a SF4 application. However, I can't upgrade Jane 5 -> 6 due to some SF5 dependencies.

Can you allow in `composer.json`, this dependencies from SF4 please?

Now:

[code]

Expected (or something like):

[code]

Cheers, and thanks for your awesome work!

EM

[2020-06-10 07:30] Korbeil commented on #323
Hey @HanXHX,

Thanks for your report, I'll take a look to fix that, understand that from `6.1` version (not yet released, actually `dev-master`), the component `automapper` will require Symfony 5.1 (but other component do not need Symfony 5).

[2020-06-11 13:02] odolbeau opened #324 "Provide pagination"
It would be awesome if the generate client could provide a pagination mechanism! :heart:

[2020-06-11 13:44] pattersonc opened #325 "OpenAPI Generated Code Requires JsonSchemaRuntime"
Both

[code]

are referenced in OpenAPI Normalizers.

This is an issue when trying to use Jane generated code in Drupal 8 as there are some dependency conflicts between JsonSchemaRuntime and D8

[2020-06-11 13:51] pattersonc opened #326 "open-api-2 Generated Code Redeclares Function"
[code]

Notice how I had to append the "1"

[2020-06-11 13:55] odolbeau commented on #323
Another dependency problem: `jane-php/open-api-runtime` doesn't require `jane-php/json-schema-runtime` since 6.0 but still need it... :/

[2020-06-11 18:40] Korbeil commented on #325
Hi @pattersonc,

Thanks for your feedback, this is a duplicate of #323.
There is a missing dependency since Jane v6.0.0.
I'll probably release a fix later tonight about this issue :wink: (v6.0.1)

[2020-06-11 18:40] #325 closed

[2020-06-11 18:40] Korbeil commented on #326
Hi @pattersonc,

Thanks for your feedback !
Could share me your OpenAPI 2 schema to reproduce your issue ?

Thanks !

[2020-06-11 18:43] #323 closed

[2020-06-11 19:24] pattersonc commented on #326
@Korbeil This is an internal API. Can I send privately via email, etc?

[2020-06-11 19:25] Korbeil commented on #326
Sure, you can find my email in the `composer.json` file or on my GitHub profile.

[2020-06-11 19:27] pattersonc opened #331 "Drupal 8 Compatibility (SF3)"
Is it intended that Clients generated run within D8?

Even after manually resolving issues with #325, there appear to be deserialization issues due to changes in the json_decode method.

Thanks

[2020-06-11 19:27] pattersonc commented on #331
[code]

[2020-06-11 19:29] Korbeil commented on #331
Hey @pattersonc !

Which version of jane-php are you using ?

[2020-06-12 07:35] HanXHX opened #332 "[Jane6] jane-open-api-generate command is not executable"
Hi team,

I just installed jane-openapi. And I see a small issue on recipe.

The command "bin/jane-open-api-generate" is not executable, however "jane-json-schema-generate" is OK.

On a SF4 app:

[code]

The command ` jane-open-api-generate` should be `-rwxr-xr-x`.

Kind regards,

EM

[2020-06-12 07:50] HanXHX opened #333 "Documentation outdated for Jane6?"
Hi,

It seems the documentation is outdated.

In recipe, it says:

[code]

However, on [generating](https://jane.readthedocs.io/en/latest/documentation/OpenAPI.html#generating) doc, it says to use `php vendor/bin/jane-openapi generate` with `.jane-openapi` config file. I think it's the legacy method (Jane 5) to generate the client.

It seems both methods are working (vendor/bin and bin command).

[2020-06-14 14:59] Korbeil commented on #332
Hi @HanXHX,

Thanks for your issue, I've fixed this in https://github.com/symfony/recipes-contrib/pull/958, when merged It would be fixed for next installations.

Sadly, for your current installation you'll have to fix it manually.

[2020-06-14 15:02] Korbeil commented on #333
Hi @HanXHX,

Thanks for your report, it is a bit old version of documentation but still right.
Actually with Symfony you have a recipe to make the usage of Jane a lot easier (thanks to the added binary and pre-made configuration file). But you still can use the usual method and this method will work for out of Symfony usages.

I'll try to add a section about the Symfony recipe :+1:

[2020-06-14 15:07] Korbeil commented on #331
Since you made it work with your Drupal version, can I close this issue ?

[2020-06-14 15:11] Korbeil commented on #326
Could you also share me which version of OpenApi you are running ? To reproduce the issue.

[2020-06-14 20:30] Korbeil commented on #333
Actually, I just checked and in both JSON Schema and OpenAPI installation documentation we have a notice about the Symfony recipe. See below links for more details:
- https://jane.readthedocs.io/en/latest/documentation/JsonSchema.html#installation
- https://jane.readthedocs.io/en/latest/documentation/OpenAPI.html#installation

Since it's already in the documentation I'll close the issue.
If you th

[2020-06-14 20:30] #333 closed

[2020-06-15 05:58] Korbeil commented on #332
And this is merged.
Thanks again for your report !

[2020-06-15 05:58] #332 closed

[2020-06-17 14:48] Stevehans opened #337 "Uncaught TypeError in NonBodyParameterGenerator::convertParameterType() trying to generate CreditSafe API"
I'm seeing the following traceback, when trying to generate for the creditsafe api (OpenAPI v3)

`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Jane\OpenApi3\Generator\Parameter\NonBodyParameterGenerator::convertParameterType() must be of the type string, null given, called in /var/www/html/creditsafe/vendor/jane-php/open-api-3/Generator/Parameter/NonBodyParameterGenerator.php on line

[2020-06-17 14:53] freakheart opened #338 "Warning: array_key_exists() expects parameter 2 to be array, null given"
Hello,
I have generated a client for my api. However in the normalizer the following code is generated. But this code runs in to an error

`Warning: array_key_exists() expects parameter 2 to be array, null given`

[code]

### What I have done
I have made a git repo where you can check the steps to reproduce.
https://github.com/freakheart/client

### Possible Solution
It seems like the $data is not

[2020-06-17 15:00] Korbeil commented on #338
Hi @freakheart,

Thanks for reporting your issue, could you share us more details about where is that generated code for example ? Which class ? What is "dlnr" ?

[2020-06-17 15:01] Korbeil commented on #337
Hi @Stevehans,

Thanks for sharing your issue ! Could you also tell us which version of jane-php you are using ?

[2020-06-17 15:06] Stevehans commented on #337
The very latest from composer, 6.0.2

[2020-06-17 16:03] Korbeil commented on #331
As statted by email, you solve this issue so I will close it.

[2020-06-17 16:03] #331 closed

[2020-06-17 16:04] Korbeil commented on #326
Sadly this is refering to version 4.x which is not maintained anymore, if you want to have more updated OpenAPI 2 generator, you should take a look at Jane v6 which include it.

[2020-06-17 16:04] #326 closed

[2020-06-17 16:28] Korbeil commented on #337
Ok, found your issue, your schema was declaring a parameter with no type and a "enum" field, so I had to guess it's type manually to string :wink:

Thanks for this report, it would be probably usefull for next Jane users :ok_hand:

It will be fixed with next version: v6.0.3

[2020-06-17 16:34] #337 closed

[2020-06-17 17:46] Korbeil commented on #299
@jwundrak tell me, with a json_decode in the `transformResponseBody` of your Endpoint, does it work well ? If yes, I'm gonna push the fix I made in my PR, I tried to make a PR to generate the model, but it's actually really hard.

[2020-06-17 18:42] Stevehans commented on #337
Many thanks for fixing it so quickly!

Regards
Steve

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Baptiste Leduc <notifications@github.com>
Date: 17/06/2020 17:39 (GMT+00:00)
To: janephp/janephp <janephp@noreply.github.com>
Cc: Steve Hanselman <steveh@brendata.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [janephp/janephp]  Uncaught TypeError in No

[2020-06-18 07:28] freakheart commented on #338
Hi @Korbeil,

Thanks for your reply. I have updated the question with more description. The error happened in the class **Tecdoc030LanguageDescriptionArticleNormalizer.php**

[2020-06-23 08:26] hypeJunction opened #343 "6.0.2 client throws fatal"
**Jane version(s) affected**: 6.0.2

**Description**
PHP Fatal error:  Class Orders\Endpoint\GetOrdersOrderNumber contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Jane\OpenApiRuntime\Client\BaseEndpoint::getAuthenticationScopes) in src/Endpoint/GetOrdersOrderNumber.php on line 5

**How to reproduce**

**Possible Solution**

**Additional context

[2020-06-24 14:35] NickStemerdink opened #344 "Properties with consecutive capital letters in the API result in invalid generated properties in the request."
**Jane version(s) affected**: 6.0.2

**Description**
Properties with consecutive capital letters in the API result in invalid generated properties in the request.

**How to reproduce**
Generate code based on the following schema:

[code]

Check the generated model. Example:
[code]

[2020-06-24 14:37] NickStemerdink commented on #343
You can resolve this by regenerating the code.

[2020-06-24 14:50] hypeJunction commented on #343
We've downgraded to 6.0.0 for now.

[2020-06-24 14:51] hypeJunction commented on #343
IMO it's a breaking change if you have to regenerate the client.

[2020-06-24 14:57] NickStemerdink commented on #343
I agree that these changes should not be in a bugfix version. I thought at first it was part of major version 6.

[2020-06-26 16:12] Korbeil opened #349 "Handle non-standard HTTP error codes"
**Jane version(s) affected**: 6.0.0

**Description**
We have a 600 error code in our APP for some reasons. It's out of the _usual_ scope and it causes an error during generation.
As you can see in https://github.com/janephp/janephp/blob/master/src/OpenApiCommon/Naming/ExceptionNaming.php#L7-L48 there is a limited list of possible HTTP codes.

**How to reproduce**
[code]

**Possible Solution**
Use

[2020-07-06 09:37] judgej opened #351 "JSON response string in YAML API description throws an error"
**Jane version(s) affected**: 6.0.2

**Description**

This may be valid or invalid, and I have not been able to find a statement in the OpenAPI spec to confirm the expected behaviour one way or another.

The Xero OpenAPI descriptions are writte in YAML for a JSON API. The examples in the description are give as strings containing JSON. For other generators, such as the OpenAPI Generator, and edito

[2020-07-06 09:39] judgej commented on #351
The sections throwing the error:

[code]

[2020-07-06 10:22] judgej commented on #351
Just realised what the error means. It is not trying to parse the JSON as YAML. It is trying to read the JSON string as YAML and failing, which is subtly different.

The above example as `"contact"` at the beginning of the line. By indenting that one level beyond the `example` keyword, it gets parsed. Other example JSON sections have similar issues, one with just the closing quote at the start of

[2020-07-06 10:38] judgej commented on #351
I'll close this issue as it seems to be a problem with the source API description. Having seen the code that is generated, it is probably also less use to me than I had hoped, since it does not handle validation and misses out helpful functions such as constants for enums. I'll dig a little deeper in case I'm missing something.

[2020-07-06 10:38] #351 closed

[2020-07-08 08:11] Jibbarth opened #352 "[JsonSchema] Property nullable or reference an object"
**Jane version(s) affected**: 6.0.2

**Description**
For a given json-schema, I have a property that can be null or reference an other object.

The code generated add `MyObject|null` in phpdoc, but not in typehint for function : `->getProp(): MyObject` (instead of `->getProp(): ?MyObject`

**How to reproduce**

Reproduced with this json-schema
[code]

**Additional context**

Note, I also tested wi

[2020-07-13 08:40] Korbeil opened #355 "Add link to spec tutorials in documentation"
**Is your feature request related to a problem? Please describe.**
When reading the documentation, from an outside perspective, it can be hard to know what is JSON Schema or OpenAPI, sometimes we know one but not the other.

**Describe the solution you'd like**
Add a link to some tutorial about both specs, such as:
- https://json-schema.org/understanding-json-schema/
- https://idratherbewriting.co

[2020-07-20 07:02] andrew-demb opened #359 "AmpArtaxEndpointTrait incompatible with Psr7HttplugEndpointTrait in 4.x"
**Jane version(s) affected**: 4.5.4

**Description**

Enabling async broke generated code due to incompatible signatures in Psr7HttplugEndpointTrait and AmpArtaxEndpointTrait.
[code]

**How to reproduce**

Jane config:
[code]

OpenAPI schema:
[code]

**Possible Solution**
Drop default value (`= null`) in `AmpArtaxEndpointTrait`.

**Additional context**

Declaration in BaseEndpoint:
https://github.

[2020-07-29 08:41] Korbeil commented on #359
Hi @andrew-demb,

Thanks for you issue but I do not support 4.x and later versions of Jane anymore.
I suggest your to use version 6.x of Jane to be up-to-date.

I'll close this issue, feel free to open a new one if this is about 5.x or 6.x.
Regards,

[2020-07-29 08:41] #359 closed

[2020-07-30 08:18] #349 closed

[2020-07-30 08:23] Korbeil commented on #344
:wave: @NickStemerdink

Actually we use a camelize function on this string, that's why the first letter is lower-case. Basically you want us to keep lower/upper-case in the variable names (even in methods) ?

[2020-07-30 08:26] Korbeil commented on #343
Hey,

Actually, the generated part is not part of the BC-break for me. The code your are using will be still working with no changes unless a new code generation. This is no something that should break any actual behavior since I do recommand to not modify the generated code manually.

I'll close this issue but feel free to open it again if you wanna discuss this matter.

[2020-07-30 08:26] #343 closed

[2020-07-30 08:32] hypeJunction commented on #343
It's not necessarily a BC break unless you have multiple clients generated using different versions of Jane. So, we had to regenerate all of our clients.

[2020-07-30 08:40] NickStemerdink commented on #344
Thanks for your response @Korbeil .

In this specific case - when a property starts with consecutive uppercase characters -  I would expect the generated variable and property to have proper camelcase or preserve the first uppercase characters (and consistent with the method name).

Like this:

[code]

or

[code]

[2020-07-30 08:40] Korbeil commented on #343
I understand that this can be a bit painfull to re-generate all theses clients. In my mind, I think that if you upgrade jane dependency, you should run a generation after it.

I'll try to find a way to make this more verbose (like a composer plugin to warn about it on package upgrade)

[2020-07-30 08:42] Korbeil commented on #344
I'll try to fix this by enforcing your first example :+1:
Thanks for your feedback.

[2020-07-30 08:43] odolbeau opened #366 "[Automapper] Allow to specify a custom normalizer for a given type"
When an object is given to the automapper, the whole object and all its children are managed by the component.
Even if in most cases it's fine, sometimes, it could be useful to tell to the automapper to not deal with a specific property type.

For example, let's imagine a `Foobar` class containing a `$price` property which is an instance of `Money\Money` (from `moneyphp/money` library), here is th

[2020-07-30 09:17] joelwurtz commented on #366
I think you can already do this, but maybe it needs more documentation, by using custom transformer or using the `forMember` method when creating the automapper

## For member

There is an example in the test where you can do the following thing:

[code]

When mapping from User to UserDTO it will use the callback provided to handle the yearOfBirth property, and you should be able to use that with

[2020-07-30 09:30] Korbeil commented on #366
Since it should be already possible, I think we could add some new methods to the AutoMapper to help this stuff, such as:
- `bindNormalizer(Mapper::class, $source, $target)`
- `bindTransformer(Transformer::class, $sourceType, $targetType)`

Both theses should help having custom Normalizer/Transformer and we should also make them possible to use through the Symfony bundle.

[2020-07-30 11:27] Korbeil commented on #299
Hey there, I'll close the PR since #318 should at least let them generate your client.

Feel free to open the issue again if you still can't generate your client or you have any related issue.

[2020-07-30 11:27] #299 closed

[2020-07-30 11:28] Korbeil commented on #278
I started some work with #311 but that won't work that way for sure, I still need to make some research about how to tackle this.

[2020-07-30 14:25] Korbeil opened #367 "Support asynchronous requests"
**Is your feature request related to a problem? Please describe.**
The idea is to request a lot of endpoints (can be the same or different ones) and being able to support asynchronous requests while doing it.
Actually due to PSR-18 support, we can't do it because we get the response directly after calling the requested endpoint.

In my case, I've some pages where we do ~489 calls to some external

[2020-07-31 09:38] #355 closed

[2020-08-01 20:27] Korbeil commented on #338
Hi @freakheart, just looked in your issue, but could you add a dump to this place ? To know what this `$data` contains ?
If it's null or something like `\stdClass` ? Thanks !

[2020-08-03 09:27] freakheart commented on #338
Hi @Korbeil, I have added the var_dump.

[2020-08-04 15:35] NickStemerdink opened #374 "Generate constants for enum properties"
When generating a client based on OpenAPI V3 enums are ignored.

It would be very handy if these enums can be placed in the generated object model as constants. This way we can refer to the generated constants in our code instead using of string values. Which makes the code more readable.

Some project code for example:

`if ($type === Acme::TYPE_X)`

instead of

`if ($type === 'X')`

[2020-08-05 21:50] Korbeil opened #375 "Improve authentication documentation"
Authentication documentation is not clear yet. We should add examples on how to use that part of Jane.

[2020-08-12 08:25] NickStemerdink opened #377 "Throw an exception in case of an unexpected status code"
**Is your feature request related to a problem? Please describe.**
Often operations do not specify _all_ the possible status codes, especially like for example 5xx status codes.

The generated method `transformResponseBody` in the Endpoint class will not handle these cases, but just return null. That makes it pretty much impossible to handle these cases without extensive overriding of the generate

[2020-08-25 08:13] Korbeil commented on #374
This is a really cool idea ! I will try to make it work for next minor :+1:

[2020-08-27 12:54] Gounlaf opened #391 "Non required property + nullable"
**Jane version(s) affected**: 6.1.0

(maybe other versions)

**Description**

When a property is non-required and not explicitly set, it must not be send in the request payload.
Typically used in `PATCH` requests.

I have an entity with a property that can be `non-null` or `null`. Behind the scene, a `null` value erase the data...

It may be not the good way to do it, idk. But anyway a `PATCH` is

[2020-08-27 19:18] Korbeil commented on #391
Hey @Gounlaf

Thanks for this issue, we do some similar behavior in one of the app I'm working on and we have it working :thinking:
Actually my project use a `'strict' => false,` so it's probably why there is issues there, I'll try to fix this :+1:

[2020-09-01 10:03] Gounlaf commented on #391
Okay, tested with ` 'strict' => false` seems to fix it (at least for the normalization)

[2020-09-01 10:12] Korbeil commented on #391
Cool ! Basically I do not recommend to use this `strict` option, it's usefull for specification with bad nullable handling but it force every property to be nullable :/ For your case you can use it until I fix this issue. I'll try to take a look at it today.

[2020-09-01 13:00] Korbeil commented on #391
Hey @Gounlaf,

Could you make a try with https://github.com/janephp/janephp/pull/392 to check if your issue if fixed with it ?
Don't forget to switch back to `'strict' => true` :wink:

[2020-09-01 13:03] Korbeil commented on #377
This is a cool idea that I'm gonna implement but I'm gonna add an option to have it or not (disabled by default) to avoid BC-break there.

[2020-09-01 13:39] Gounlaf commented on #391
@Korbeil I used your version in the minimal example:

[code]

Then regenerated ; unfortunately I don't see any difference

[2020-09-01 13:40] Korbeil commented on #391
You removed the `strict => false` option ?

[2020-09-01 13:44] Gounlaf commented on #391
Yes; exactly I set it to true (in case there were bug with "default configuration").

[2020-09-01 13:47] Korbeil commented on #391
This is kinda strange, on my PR, I added your example as a fixture to try it out, and you can see here: https://github.com/janephp/janephp/pull/392/files#diff-e87eb5c85d9022008233bb9e790ea1fdR50-R60 that we have the required condition to make patch-like operation work :thinking:

[2020-09-01 13:49] Korbeil commented on #391
Ok, my bad ... I've strict with false :disappointed: Sorry

[2020-09-01 13:54] Gounlaf commented on #391
No problem. I can't help you (right now) cause it's a bit "too big" for me to deep dive in all the components...
I can take time to if you need some help

[2020-09-01 14:45] Korbeil commented on #377
I made a PR :point_up: to provide this feature, could you check the fixtures in the PR to see if it does match what you needed ?

Thanks !

[2020-09-01 15:08] Korbeil commented on #391
Could you make another try please ?

[2020-09-01 15:21] Gounlaf commented on #391
`composer show`:

`jane-php/jane-php                  dev-issue/391 4a88be8 All jane libraries into one repository`

[code]

It should be at least - even if IMO there is still a problem:

[code]

I've took a deeper look at options and saw `skip-null-values`; there might be a cross issue with it?
Tests are done on "null", but I think they should be done on a flag : is this property "set" or "not" ?

[2020-09-01 15:22] Korbeil commented on #391
We do not handle "required" field atm, so your output seems ok, look at https://github.com/janephp/janephp/pull/392#discussion_r481216707, I'll make a separated PR for this.

[2020-09-01 15:29] Gounlaf commented on #391
OK; it explains everything ;
If I'm right, just to be clear :
* before this fix: all field sent, even null, in strict mode ; with strict mode disabled, only non-null where sent
* with this fix : only-non null sent, both in strict & non-strict mode
* (future) required handled?

[2020-09-01 15:29] Korbeil commented on #391
Yes, that's what I'm planning :+1:

[2020-09-01 15:31] Gounlaf commented on #391
OK; So your latest push seems to sync behavior between strict/non strict mode. I've only checked on with the example

[2020-09-01 15:45] Korbeil commented on #338
Hey @freakheart,

Could you try the linked PR ?
It should fix your issue :wink:

[2020-09-02 07:16] NickStemerdink commented on #377
Done. I've added some comments.

[2020-09-02 17:54] Korbeil commented on #366
I made a first draft with #397 to solve this issue.
The idea with this PR is to make a custom TransformerFactory for your object and use it inside the AutoMapper.
You can check the related PR for more details, hope this will fix your issue ! :+1:

[2020-09-02 23:48] er1z opened #398 "Generating on Windows causes a crash"
**Jane version(s) affected**: 6.0

**Description**
If you try to create a client for any valid OpenAPI spec on Windows, an error is generated: `Uncaught Error: Call to a member function addClass() on null`.

**How to reproduce**
Try to generate a client from following file under Windows: [api.yaml.txt](https://github.com/janephp/janephp/files/5165235/api.yaml.txt)

You should end up with similar s

[2020-09-03 17:53] #375 closed

[2020-09-03 17:53] #377 closed

[2020-09-03 17:54] Korbeil commented on #391
Reopening since it's missing the "required" part :wink:

[2020-09-03 17:55] #338 closed

[2020-09-03 20:34] er1z commented on #398
#399 merged, we can close.

[2020-09-03 20:34] #398 closed

[2020-09-03 21:21] FilipBenco opened #401 "Middleware support for endpoint response processing"
**Is your feature request related to a problem? Please describe.**

Feature is not fully related to a problem. However after refactoring of generators, the `endpoint-generator` option does not make sense anymore. I added this option to be able to change PsrEndpointTrait, which converts raw PSR Response to object.

**Describe the solution you'd like**

I would like to be able to add some custom end

[2020-09-04 22:27] #366 closed

[2020-09-06 14:11] Korbeil commented on #391
Hey @Gounlaf, could you take a look at #404 ?

[2020-09-06 17:35] Gounlaf commented on #391
Hi @Korbeil,

The de-normalization might be "optimized" (I don't have a clue how it's hard to do).
But the example project only cover the normalization, so it's looks good to me :)

[2020-09-06 17:41] Korbeil commented on #391
What are your suggestions about denormalization ? (You can take the fixture I quoted in the PR as example :wink:)

[2020-09-06 17:46] Gounlaf commented on #391
Given the example project, the denormalization :
* Always test if the key exists in data (okay with that)
* Test also the value : `!= null` or `== null` and assign the resu.
In case of nullable property, it could just be assigned, no? (Again, I've no clue of the complexity)

[2020-09-06 17:47] Korbeil commented on #391
Since PHP properties are set with a null value by default (even when not assigned), this behavior is already covered when not assigning them.

I'm not really sure there is that much stuff to make on the denormalization side.

[2020-09-06 17:50] Gounlaf commented on #391
I will test #404 on a "real" project just to be sure and let you know.
But again, it looks good :)

[2020-09-06 18:59] Korbeil commented on #401
Hey @FilipBenco,

Why the `endpoint-generator` is not good anymore ?
I don't think something changed with the Generator refactoring, or maybe I'm wrong ?

[2020-09-06 19:07] Korbeil commented on #367
After some tests on an internal project, the best (and easiest) way to have this feature is by using the _almost_ asynchronous Symfony HttpClient (because the client is using `curl_multi` in background that will start requests and let you continue your PHP script with no waiting time until you need to access the response).

By using a model to store this lazy response we can achieve some really bi

[2020-09-07 13:43] Gounlaf commented on #391
@Korbeil it seems ok

[2020-09-07 19:13] #391 closed

[2020-09-07 19:13] Korbeil commented on #391
Thanks for your feedback @Gounlaf !

[2020-09-09 18:45] FilipBenco commented on #401
Hi, sorry for such late reply. I've exported our enhancement of Jane Library to support quite nice pagination: https://github.com/FilipBenco/jane-paginated-collection

The thing is, that trough that parameter we were able to adjust endpoint trait, that handles conversion of `Request` into Models.

In current solution the Endpoint Trait is hardcoded, so only way, how to achieve this in current vers

[2020-09-10 07:27] Korbeil commented on #401
Ok, I get your point.
I'll try to think how this can be done the best way, not sure having some middlewares is the best thing to do since it will bring, I think, a lot of complexity.

[2020-09-14 13:18] ericalvaresnl opened #413 "Impossible to install jane-php/open-api-runtime:6.2.1 together with jane-php/open-api-3:6.2.1"
**Jane version(s) affected**: 6.2.1

**Description**
After installing jane-php/open-api-3:6.2.1 it is impossible to install jane-php/open-api-runtime:6.2.1, instead we're stuck with  jane-php/open-api-runtime:6.2.0, which isn't good enough... See "Additional context" below and  #409.

**How to reproduce**
composer require --dev jane-php/open-api-3:6.2.1
composer require jane-php/open-api-runtime:6

[2020-09-15 10:33] Korbeil commented on #413
Hey @ericalvaresnl,

Sorry for this issue, I'll release a v6.2.2 as fast as possible to avoid this !

[2020-09-15 10:47] Korbeil commented on #413
And it's released, this will work better now :wink:

After doing `composer req jane-php/open-api-3:~6.2.0` :ok_hand:
![image](https://user-images.githubusercontent.com/944409/93201471-87254600-f751-11ea-85b1-3dfb0a5b84ce.png)

[2020-09-15 10:47] #413 closed, assigned to nobody

[2020-09-18 14:09] Gounlaf opened #418 "Non required property + non nullable"
**Jane version(s) affected**: 6.2.2 (maybe pregvious)

**Description**
Hi,

Following #391, I think there is another bug with the _required_ handling.

[code]

Generated normalizer:

[code]

It produces a type error if you don't set the `non_nullable_property` ; however this property is not required =/
And the `nullable_and_required_property` will not be put in the data array if it's null.

When @

[2020-09-18 16:49] Korbeil commented on #418
Hey @Gounlaf,

Are you sure about this issue ?
Just tried it on my side with `6.2.x` branch and following scheme:
[code]

It produces:
[code]

Could you try again with `next` branch please and check your local version ? (make a `composer info jane-php/*` to see all packages)

[2020-09-18 18:29] Gounlaf commented on #418
@Korbeil my bad... With the "example project", I was not up to date ><
I don't close yet, I will check again (yeah) on real environment & data on Monday...  (I probably have forgot a `strict` somewhere or my deps are not up to date too...)

Really sorry!

[2020-09-22 14:49] brzuchal opened #419 "Add support for parameters style and explode options"
**Is your feature request related to a problem? Please describe.**
OpenApi3 generator ignores `style` and `explode` parameter object properties which as described in the [spec](https://swagger.io/specification/#parameter-object) is significant when it comes to creating query string parameters
if described API uses for instance `style: form` and `explode: false` then array of integers should be con

[2020-09-22 14:51] brzuchal commented on #419
I'd like to mention that I'd like to implement it but require some guidance for eg. where can I add these base normalizers which then can only reference by passing them as a callable into `OptionResolver::addNormalizer()`.
A place in code I found to be appropriate is right after `$allowedTypes[]` in `\Jane\OpenApi3\Generator\Parameter\NonBodyParameterGenerator::generateOptionsResolverStatements()`

[2020-09-23 05:50] brzuchal commented on #419
Actually, after thinking a while about it I was thinking that [rize/uri-template](https://packagist.org/packages/rize/uri-template) should be used instead of normalization through an OptionResolver since it already implements RFC6570 which is what OpenAPIv3 spec uses.
A generator could then build a complete URI template string and put it into a private const of a generated endpoint, then an expand

[2020-09-23 13:12] brzuchal commented on #419
Ok, after digging a while I think the `UriTemplate` solution suits best cause it allows expanding parameters with `matrix` and `label` styles in paths as well as `form` and `simple`, all with explode modifier.

[2020-09-23 16:34] odolbeau opened #420 "Documentation looks outdated"
In [latest documentation](https://jane.readthedocs.io/en/latest/) there is nothing related to transformers even if it's available [here](https://github.com/janephp/janephp/blob/next/documentation/components/AutoMapper.rst#transformer-extension)

[2020-09-24 08:06] Korbeil commented on #419
Hey @brzuchal,

Sorry for late replay, was a bit busy this days.
From what I can read in OpenAPI spec, `style` field should be guessed based on `in` field:

Is it enought in your case ?

For `explode` parameter, it's just to support multiple values of the same parameter ? (Such as `param[]` in your query ?)

And thanks for your research on this subject, quite a lot of stuff here !

[2020-09-24 09:19] HEKET313 commented on #374
@Korbeil any updates about this issue?

[2020-09-24 09:52] brzuchal commented on #419
@Korbeil my current plan is to add into generator an `UriTemplate` property initialized in ctor.

Then first thing would be to initialize `UriTemplate` with full path and query templating syntax like `$this->uriTemplate = new UriTemplate("/entity/{entityId}/sub-entity{?q,page}");` this allows to:
* prefix in path parameters with `style` prefixes like `{;entity}` for `matrix` style and `{;entity*}`

[2020-09-24 09:57] brzuchal commented on #419
Modification of endpoint could then be a subject of future scope cause in general proposed `UriTemplate` implementation is able to expand whole path+query without a need to manually merge them in `\Jane\OpenApiRuntime\Client\Client::executeEndpoint`

[2020-09-24 11:10] Gounlaf commented on #418
@Korbeil there is finally something bothering me.

This is what I "expect" to be produced with #391 + #404 : if a property is `nullable`, and I explicitly set it to null, I expect to have the property.

I know it could be hard to implement. Simple approach might be:
- in generated `models`: everytime a setter is called, flag the corresponding property as set
- in generated `normalizer`: `nullable`

[2020-09-24 12:12] brzuchal commented on #419
I tried with the additional property in `Endpoint` but I must say it looks nice but for `Endpoint` in this shape with `getUri` and `getQueryString` being separated it makes no sense, therefore I'll try with the approach with `UriTemplate` new instance creation in both methods and for a `getQueryString` with `ltrim` by `?` - this will allow to keep full BC.

[2020-09-28 07:56] Korbeil commented on #418
You are mixing two things here:
- Setting the value (which is the purpose of the Normalizer here and, I think, is correctly done)
- Checking if the value is correct

For this second behavior, the Normalizer isn't the place to do that, even in JSON Schema specs it's in a separate document called "Validation". I'm trying to introduce this document with #405 with something more suited to make such ch

[2020-09-28 07:59] Korbeil commented on #374
Hey @HEKET313

Sorry, I'm actually more focused on Validation behavior #405 (introducing a new JSON Schema spec into Jane).
I do need this "Validation" before generating theses enums because the `enum` field is actually part of the Validation spec so this is not stored at the moment.

After this done, I'll try to make this feature happen :+1:

[2020-09-28 08:02] Gounlaf commented on #418
Thanks @Korbeil for the explanation!

[2020-09-28 08:02] #418 closed, assigned to nobody

[2020-09-28 08:12] Korbeil commented on #419
Look really complete ! :+1: Don't forget about documenting this because newcomers will be lost otherwise :smile:

We can still support this with custom fields like we do for nullable field in OpenAPI v2. There is no `null` type so I added a `x-nullable` field that works like the `nullable` field in OpenAPI v3. We can add `x-*` fields as we want there :wink:

Actually, I made most of runtime class

[2020-09-29 07:29] Korbeil commented on #420
I updated "janephp" project instead of "jane" project.
Thanks for reporting the issue, it's now fixed :+1:

[2020-09-29 07:29] #420 closed, assigned to nobody

[2020-10-05 13:48] odolbeau opened #425 "Mapping array properties with symfony/property-info >= 5.1.6"
**Jane version(s) affected**: ?

**Description**
With `symfony/property-info` >= `5.1.6` I get a problem mapping arrays without PHPDoc.
The problem have been introduced by [this PR on `symfony/property-info`](https://github.com/symfony/symfony/pull/38041) (this is the only commit merged between 5.1.5 & 5.1.6).

**How to reproduce**
I try to map a class `A` to a class `B`.

Class `A` contains:
[cod

[2020-10-12 11:33] brzuchal commented on #419
@Korbeil need advice due to fact that [API Platform Demo - OAS](https://github.com/janephp/janephp/blob/next/src/OpenApi3/Tests/fixtures/api-platform-demo/apip-demo.json) uses parameter names with brackets like: `properties[]` and style: `form` which according to [parameter object reference sec. styles](https://swagger.io/specification/#parameter-object) probably should use `deepObject` serializat

[2020-10-13 11:20] Korbeil commented on #425
This has been fixed by #426
I will make a release today to tag it ~

[2020-10-13 11:20] #425 closed, assigned to nobody

[2020-10-13 11:24] Korbeil opened #428 "Convert runtime generated files to AST"
The idea is to take all files in `src/**/Generator/Runtime/data` and convert them as AST in order to remove theses files after.

To make this you can use the AST builder from php-parser: https://github.com/nikic/PHP-Parser/blob/master/doc/component/AST_builders.markdown (you can read more about php-parser on the repo README).

[2020-10-13 11:27] Korbeil commented on #278
I think the best solution here is to add a new field in Jane `x-ignore-check`, the idea is to gives the schema which parameters are already injected to the Client and do not check them on Jane side.
Since we can't really know which parameters are given on the HTTP Client level, I think it's the best solution here

[2020-10-13 11:29] Korbeil commented on #147
This issue has been fixed since #412 has been merged. (I actually don't understand why github didn't closed this issue since it was linked :thinking:)

[2020-10-13 11:29] #147 closed

[2020-10-13 11:33] Korbeil commented on #47
Jane does support security now, I will close this issue since it's pretty old issue and no update since.
If you have any answers about auth, you can read our [docs](https://jane.readthedocs.io/en/latest/components/OpenAPI.html#authentication) or open a new issue :wink:

[2020-10-13 11:33] #47 closed

[2020-10-21 14:07] odolbeau opened #429 "Improve exception handling"
Right now, a dedicated exception is created for each endpoint for declared error responses.
Each of those exceptions are independents.

When using responses declared in `components`, we should have something common between exceptions.

For example, given the following schema:

[code]

We currently have 2 exceptions:
`class GetFooNotFoundException extends \RuntimeException implements ClientExceptio

[2020-10-26 16:16] Korbeil opened #430 "[AutoMapper] Give source object in forMember mapping"
**Is your feature request related to a problem? Please describe.**
When having a custom mapping to describe, we usually make a TransformerPass and use the `forMember` function as following:
[code]
Where `$mapping` is a `MapperMetadata` instance.

My issue here, is that I need to merge the old data with the new one, so I need a parameter with that old data.

**Describe the solution you'd like**
[co

[2020-11-03 13:12] Korbeil commented on #429
So basically: we should have abstract class for each exception type (400, 404, ...) and extend them in endpoint exceptions ?

[2020-11-03 13:37] odolbeau commented on #429
Exactly! :)
We could even go further with something like :
*  `class GetBarNotFoundException extends NotFoundException` <= This specific exception is a 404
* `abstract class NotFoundException extends ClientException` <= 404 exception exceptions are 4xx exceptions
* `abstract class ClientException extends \RuntimeException` <= All 4xx exceptions are runtime exceptions

This is an example with abstr

[2020-11-03 20:10] #430 closed, assigned to nobody

[2020-11-04 08:11] odolbeau opened #434 "Add a `skip-null-values` in context when using DataMapper"
## Description

I currently have 2 objects. A POPO container public properties values called `Input` and a entity called `MyEntity` containing the same properties with getters / setters.
I want to map an `Input` instance to a `MyEntity` one **but** when a property value is `null` in the `Input` instance, I want to ignore it in order not to overwrite the existing value in `MyEntity`.

## Example

M

[2020-11-04 08:16] FilipBenco opened #435 "Discriminator Support in Polymorphism"
**Is your feature request related to a problem? Please describe.**

I would like to ask, if Jane support Discriminator & Mapping Type Names from https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/ .

I tried it, but it didn't work, but I am not sure, if this is a bug or missing feature.

**Describe the solution you'd like**

Add support for normalizers to be able to pro

[2020-11-04 21:47] nir-arad opened #437 "Documentation bug in creating the client"
**Jane version(s) affected**: Documentation 5.3.0
https://jane.readthedocs.io/en/latest/documentation/OpenAPI.html

**Description**
Failed to create the client using the instructions in the "Creating the API Client" section:
[code]

**How to reproduce**
Follow the documentation...

**Possible Solution**
Change **\\Generated\\** to **\\Api\\**, in compliance with the autoload statements in composer

[2020-11-04 22:32] Korbeil commented on #437
This namespace is just provided as an example, it should be replaced by your own namespace, I will fix it for consistency but you really should modify it for your application.

[2020-11-04 22:42] nir-arad commented on #437
Of course.
ᐧ

On Wed, Nov 4, 2020 at 2:32 PM Baptiste Leduc <notifications@github.com>
wrote:

[2020-11-04 22:58] #437 closed, assigned to nobody

[2020-11-14 17:25] Korbeil commented on #419
First, sorry for the late reply :confused:

API Platform still have issues with their schema generation, we could make a PR to fix this but I don't think we will have that merged and tagged soon.

[2020-11-17 22:30] ilukac opened #445 "Error generating model with open-api-runtime"
**Jane version(s) affected**: open-api-runtime 6.1.1

**Description**
Tried to generate a model for [https://api.poc-picturepark.com/docs/rest/PictureparkSwagger.json](https://api.poc-picturepark.com/docs/rest/PictureparkSwagger.json), got this error:
[code]

**How to reproduce**
Installed latest symfony, allowed flex contribs, composer required open-api-runtime, added mentioned  PictureparkSwagge

[2020-11-18 19:11] Korbeil commented on #445
Hey @ilukac,

Thanks for you report, it looks like your Swagger schema has some issues, I'll try to make it works with Jane :wink:

[2020-11-18 19:48] Korbeil commented on #445
I fixed the issue and tagged a new version, thanks for your report and have a good day :smiley:

[2020-11-18 21:42] Korbeil opened #449 "7.x roadmap"
Since `v6.3.*` will be last minor patch, let's start to plan next major !
We will mainly focus on AutoMapper for this update !

## Jane
- [x] ~Rework namespaces in order to move all current components into `src/Component/`, this will allow to create new library such as bridges (see #432)~ (done in #457)

## AutoMapper
### Refactoring
- [ ] Remove the TransformerFactory behavior, we can manage ever

[2020-11-19 07:26] ilukac commented on #445
@Korbeil Wow, that was fast :) Thank you for your effort.

Unfortunately,  I still have the same error. I deleted vendor/jane-php, ran composer update, saw that your patch version was installed:
- Installing jane-php/json-schema-runtime (v6.2.5): Loading from cache
- Installing jane-php/json-schema (v6.1.0): Loading from cache
- Installing jane-php/open-api-runtime (v6.2.5): Loading from cache
- I

[2020-11-19 11:39] ilukac commented on #445
Btw,

I run the generation with this command:
`php vendor/bin/jane-openapi generate --config-file=config/jane/open_api.php`

Tried with php 7.3 and 7.4

[2020-11-19 11:40] Korbeil commented on #445
Could you also provide me your jane configuration file please ?

[2020-11-19 11:40] odolbeau opened #450 "[AutoMapper] Automatically tag `ConfigurationPassInterface` instance"
**Current situation:**
When using a `ConfigurationPassInterface` to update the behaviour when mapping an object to another, we have to add a new mapping in the config file under `jane_auto_mapper.mappings`.

**Improvement:**
It may be possible to automatically register those classes when using the bundle.

**Solution proposal:**
To achieve this, it's possible to create a new `ConfigurationPassInte

[2020-11-19 11:42] ilukac commented on #445
[code]

[2020-11-19 12:33] bendavies opened #451 "Support for simulating Symfony's `AbstractNormalizer::ALLOW_EXTRA_ATTRIBUTES`"
Hi there!
Raising here as discussed on slack!

**Is your feature request related to a problem? Please describe.**

I would like Jane generated normalizers to be configured to throw an exception if the data being denormalized contains data that is not expected.

If I have a some json and a normalizer generated for:
[code]
Then i would like the following to throw an exception:
[code]

**Describe the

[2020-11-19 17:34] Korbeil commented on #445
Just tried with last tag and your configuration, it does work on my side, are you sure you updated your dependencies ?

![image](https://user-images.githubusercontent.com/944409/99702254-dbbca880-2a95-11eb-84a7-c5b4d6030c23.png)

[2020-11-19 17:34] #445 closed, assigned to nobody

[2020-11-20 23:53] ilukac commented on #445
Ah, got it, I missed to update the open-api-3 version in composer.json dev section. It was for some reason 6.1 !?

Anyway, it generates without errors now!    Great work @Korbeil , thanks!

[2020-11-21 13:54] #450 closed, assigned to nobody

[2020-11-25 06:59] letharion commented on #50
It seems to me like the OpenAPI spec does support multiple [servers](https://swagger.io/specification/#server-object) listed, or am I misunderstanding something?

[2020-11-27 19:40] Korbeil commented on #50
Sorry, I was talking about Jane support of `servers` field, since we don't have a way to know which server we should use, we only take the first one.

I'm gonna close this issue since it's an old one and doesn't have a clear meaning actually, feel free to open a new one if needed.

[2020-11-27 19:40] #50 closed

[2020-11-30 10:20] letharion opened #468 "findUrlFactory used by the ServerPluginGenerator is deprecated."
Jane use `findUrlFactory`here: https://github.com/janephp/janephp/blob/next/src/Component/OpenApiCommon/Generator/Client
/ServerPluginGenerator.php#L32

That function is deprecated here: https://github.com/php-http/discovery/blob/master/src/Psr17FactoryDiscovery.php#L130

It seems like there's a straightforward solution though to just replace `findUrlFactory` with `findUriFactory`.

I could do a P

[2020-11-30 10:21] Korbeil commented on #468
Thanks for reporting this issue :+1:
Feel free to open a PR if you have time, base yourself onto `6.3.x` branch for this kind of fix :wink:

[2020-11-30 11:27] letharion opened #470 "GetTransformResponseBodyTrait calls mb_strpos with ?string"
[`GetTransformResponseBodyTrait`](https://github.com/janephp/janephp/blob/next/src/Component/OpenApi3/Generator/Endpoint/GetTransformResponseBodyTrait.php#L186) generates code like this:

`mb_strpos($contentType, 'application/json')` with a definition like this `?string $contentType = null`

It doesn't really seem to make sense to call `mb_strpos` with `null` though as it expects a string.
This ca

[2020-11-30 14:01] Korbeil commented on #470
Actually the value can be null if no contentType is given in the response headers.
I think the solution here would be to check the content of the `$contentType` variable before using the `mb_strpos` function.

This sounds ok to you ? Do you wanna try a fix ?

[2020-11-30 20:58] letharion commented on #470
@Korbeil Well, I have no idea what I'm doing really :P But I can take a stab at it: https://github.com/janephp/janephp/pull/471

[2020-12-01 10:04] Korbeil commented on #470
Fixed #472

[2020-12-01 10:04] #470 closed, assigned to nobody

[2020-12-01 11:08] Korbeil opened #473 "[DX] Generate a normalized OpenAPI schema"
**Is your feature request related to a problem? Please describe.**
When generating from a vendor OpenAPI schema, we don't have all information inside this vendor schema because `operationId`, for example, is guessed based on some contraints on Jane side (unicity, existing fields ...)

**Describe the solution you'd like**
Jane should generated should generate a clean OpenAPI definition with all he

[2020-12-17 09:56] NickStemerdink opened #479 "Content type multipart/form-data with integer property results in a fatal error"
**Jane version(s) affected**: 6.3.1

**Description**
A fatal error occurs when executing a POST operation with content type multipart/form-data that contains an integer property.

`First argument to "Http\Message\MultipartStream\MultipartStreamBuilder::createStream()" must be a string, resource or StreamInterface.`

**How to reproduce**
Generate a client for a POST operation with multipart/form-da

[2020-12-21 10:54] Korbeil commented on #479
Hey @NickStemerdink, thanks for reporting this issue, I'll try to make a fix onto your issue as soon as possible then release a new version of Jane on `6.3.x` branch.

Your solution seems reasonable, so I think I'll implement it as it is :+1:

And again, thanks for giving me an OpenAPI example of what generate this issue, this helps me a lot :raised_hands:

[2020-12-21 16:01] odolbeau opened #481 "Using `format` property to improve generated clients"
**Current behavior:**

The [current specification](http://spec.openapis.org/oas/v3.0.3#data-types) defines several types & format.

When generating an API Client, Jane already handles very well `string` type with `date-time` format to generate a method which returns a `\DateTime` (or `\DateTimeImmutable`) object.

For example, this definition:
[code]
will be "translated" in:
[code]

**Possible imp

[2020-12-23 21:16] #479 closed, assigned to nobody

[2020-12-28 20:17] Korbeil commented on #481
I don't think we need an object to represent an uuid, isn't a string enought ?

[2021-01-02 10:34] odolbeau commented on #481
That was just an example, lets not debate about uuid.
You can replace uuid by a a [PhoneNumber](https://github.com/giggsey/libphonenumber-for-php) object or, any object you want as soon as you use a custom `format` and the associated class to transform the raw value to the expected object.

[2021-01-08 08:47] Korbeil commented on #481
I can understand why a PhoneNumber object can be usefull, but I'm more asking myself how you can solve this ? Since for your example, you need at least 2 fields (a string field with the phone number and a country code, which is not required but recommended). This feature could be working with multiple fields ? So a format on object ?

[2021-01-08 08:53] odolbeau commented on #481
Again, this is just an example. :) Furthermore, you don't need 2 fields, 1 is enough (using `E164` format for example).

In fact, I would like to be able to do exactly what is done with dates.
As soon as you have a `string` field with `date-time` format, you transform the value in a valid `\DateTimeInterface` instance (and you can choose the date format to use in config)

For Phonenumber I would l

[2021-01-21 14:33] Neokil opened #488 "PHP 8 Support for open-api-runtime"
In the Project `jane-php/open-api-runtime` the dependency for `jane-php/json-schema-runtime` is set to `~7.0.0` which then requires an old version which does not support php 8.
[code]
Changing the dependency to `>7.0.0` will let you install the dependency with php 8 installed and the tests seem to work fine as well.

[2021-01-22 13:06] Korbeil commented on #488
Hey @Neokil, thanks for your issue !
PHP 8 support is part of tag `v6.3.2` (see [CHANGELOG](https://github.com/janephp/janephp/blob/next/CHANGELOG.md#632---2020-12-23) for more details about this release), the `next` branch is actually experimental for next `v7.0.0` and I can't give you my word that it is stable.

[2021-01-22 13:07] #488 closed, assigned to nobody

[2021-01-25 17:50] Korbeil opened #490 "[AutoMapper] Add custom transformer for Symfony Uid component classes"
**Is your feature request related to a problem? Please describe.**
Actually, [Symfony Uid component](https://github.com/symfony/uid) has custom objects to handle Ulid and Uuid that can't be mapped automatically.

**Describe the solution you'd like**
Add a transformer for each of theses Uid implementation.

[2021-02-01 16:49] #490 closed, assigned to nobody

[2021-02-11 15:06] Korbeil opened #501 "[OpenAPI] Handle parameters key as parameter name"
**Is your feature request related to a problem? Please describe.**
Not really, it's more a better UX when writting your OpenAPI file

**Describe the solution you'd like**
Like for Object properties, we should be able to give parameters names as key (to avoid duplication)

**Additional context**
Here is an example before / after this feature:
[code]

[code]

[2021-02-17 05:44] Korbeil opened #504 "OpenAPI 3.1.0 support"
OpenAPI 3.1.0 has been released, let's support it !
https://github.com/OAI/OpenAPI-Specification/releases/tag/3.1.0

Some changes we should support:
- The `nullable` keyword has been removed from the Schema Object (`null` can be used as a type value).
- `format` (whether `byte`, `binary`, or `base64`) is no longer used to describe file payloads. As part of JSON Schema compliance, now `contentEncod

[2021-02-24 06:51] Jrobles-Oniad opened #505 "[Automapper] Support interfaces"
**Is your feature request related to a problem? Please describe.**
I would like to convert all my Doctrine entities in a uniform way to a JsonApi Resource. (obviously don't want to use APIP)

**Describe the solution you'd like**
Actually the compiler could not only map source-target
The solution could be a generator source (yielding) - target mapping
then passing tagged instances as the source ite

[2021-02-24 11:01] Korbeil commented on #505
Hey @Jrobles-Oniad, thanks for your issue, I can't exactly get what you want there.
Could you give me an example of how you would use the AutoMapper to let me understand this better ?

[2021-02-26 06:58] Jrobles-Oniad commented on #505
Hi, thanks for the answer.

The use case is providing a generic way to automap a Doctrine entity to a dto. In my case to a JsonApi format dto.
I have tagged several entities with interface ResourceInterface
Want automap detect the interface and then, map to a single configurationpass file.

I've already achieved the goal, overloading the Jane/Bundle/Automapper service with an IterableAutomapper

s

[2021-03-02 08:25] #505 closed, assigned to nobody

[2021-03-02 08:43] Korbeil commented on #505
Hey @Jrobles-Oniad, why closing the issue ? I'm sure what you did in this feature, but if you needed it, it could be a nice addition to the library, no ?

[2021-03-05 10:04] Korbeil commented on #501
Made some tests to implement this issue, actually it is not possible to do it since keys are stripped during schema denormalization. We will have to modify the source OpenApi schema to make it work.

Probably related to #504 since this issue will also require to modify the source OpenApi schema.

[2021-03-05 11:02] Korbeil commented on #451
Hey @bendavies,

Thanks for your issue and sorry for the late reply, I do think your issue is linked to #10 and #405 since it will bring pre-denormalization validation. But I'm not planning to work on this now (probably later this year).

I'll try to keep that feature in mind when working on validation topic !

[2021-03-05 15:23] #434 closed, assigned to nobody

[2021-03-10 11:21] bendavies commented on #451
no problem - thanks! feel free to close if you wish

[2021-03-16 10:20] Gounlaf opened #516 "[PHP-CS-Fixer] Somes changes to configuration is needed"
Hi,

Using version 2.18.3 of https://github.com/FriendsOfPHP/PHP-CS-Fixer produces error.
You should take a look at https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/5537.

Regards,

[2021-03-16 10:21] Korbeil commented on #516
Hey,

On which version of Jane you have this issue please ?

[2021-03-16 10:26] Gounlaf commented on #516
All versions where you introduce this line:

Its because of https://github.com/janephp/janephp/blob/next/src/Component/JsonSchema/Printer.php#L85

It's a BC Break from PHP-CS-Fixer.

Wait & see answer of authors ;)

[2021-03-18 14:37] podarcis opened #517 "[Authenticator] Support for OAuth2"
**Is your feature request related to a problem? Please describe.**
`jane-openapi generate` did not generate Authenticator classes, as `AuthenticationGenerator` did not handle type `oauth2` (`SecuritySchemeGuess` seems to be prepared for OAuth2).

**Describe the solution you'd like**
Out-of-the-box / zero-conf support for OAuth2 (using token bearer).

**Describe alternatives you've considered**
Ext

[2021-03-18 15:03] Korbeil commented on #517
Hey @podarcis, thanks for your issue !

`SecuritySchemeGuess` was made to support any authentication that was introduced in OpenAPI scheme.
But since OAuth2 needs custom endpoints to works (receive a code and process it in order to be logged in) we would need to generate custom controller and this is not the purpose of Jane, that's why I did not implemented it.
If you can think of a way to impleme

[2021-03-18 18:47] podarcis commented on #517
Hi @Korbeil, thanks for your reply!

Yes, I suspected that was the reason it hasn't been implemented.

I indeed implemented a custom authenticator, which itself used another service that provides the access token (by requesting it first). I'm unsure about this solution/pattern, but maybe something like that could be added as recipe to the documentation.

[code]

I'm closing this for now and might

[2021-03-18 18:47] #517 closed, assigned to nobody

[2021-03-22 12:28] Gounlaf commented on #516
@Korbeil FYI version 2.18.4 seems to have fixed the issue

[2021-03-23 05:00] jasonterando opened #519 "OpenAPI Non-Required, Non_Nullable Component Properties"
**Jane version(s) affected**: 6.3.6

**Description**
In an OpenAPI schema component with optional (non-required but non-nullable) properties, I am unable to use the Symphony Serializer::normalize method, because a valid payload in which the optional property is not set will fail.

May be related to issue [418](https://github.com/janephp/janephp/issues/418).

**How to reproduce**

Example component

[2021-03-23 09:05] Korbeil commented on #516
I still don't what it has to do with me since cs-fixer is a dev dependencies, it should not be an issue for users no ?

[2021-03-23 09:13] Gounlaf commented on #516
When using cs-fixer (via the option `use-fixer`), it uses the Printer class mentioned above.

You may have to edit the line 85 : `$rules['yoda_style'] = null;`

But it seems to be fixed in version 2.18.4 or CS-Fixer

[2021-03-23 13:10] jasonterando commented on #519
Nevermind found the `strict` option as documented in the config file as documented [here](https://jane.readthedocs.io/en/latest/components/OpenAPI.html)

[2021-03-23 13:10] #519 closed, assigned to nobody

[2021-03-26 15:06] michaelthieulin opened #520 "Model name use a PHP reserved word"
**Jane version(s) affected**: 6.3.6

**Description**
Having a Model named like a PHP reserved word generate a file which begins with an underscore.
The filename of the normalizer doesn't have an underscore and Jane don't manage to find the proper normalizer.

**How to reproduce**
Named a Model for Example Return in the return of an endpoint.
The file of this model is _Return.php but the normalizer

[2021-03-26 16:48] #520 closed, assigned to nobody

[2021-03-29 13:30] Gounlaf commented on #516
I'm closing the issue. The problem seems to be fixed.

[2021-03-29 13:30] #516 closed, assigned to nobody

[2021-04-07 08:07] chadyred opened #523 "Explanation about validation with Symfony FormType (client side)"
Hello, thanks a lot for your awesome work.

I have a question about how to handle error 422 client side with Symfony, in order to catch them and add error on form field.

I begin by doing something like this:

[code]

Is their another way to associate a constraint validation directly into Symfony like other Validation assert (`Assert\NotBlank`...) ?

Thanks a lot :)

[2021-04-12 13:05] jmsche opened #524 "JSON schema: handle $defs"
**Jane version(s) affected**: latest (6.3.7)

**Description**
I tried using `$defs` to create definitions (as I read in these docs: https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.8.2.4) but unfortunately it does not create a class for the given object.

However replacing `$defs` by `definitions` works as expected.

**How to reproduce**
[code]

This schema (truncated) gener

[2021-04-12 13:08] jmsche opened #525 "Allow to generate models with public & typed properties"
**Is your feature request related to a problem? Please describe.**
It would be nice if Jane could generate models with typed & public properties, instead of untyped properties & getters/setters.

**Describe the solution you'd like**
This is one model that is currently generated on my project:

[code]

And here is what could be generated instead:

[code]

[2021-04-21 20:39] elazar opened #526 "Short string request body fails: "TypeError: is_file() expects parameter 1 to be a valid path, string given""
**Jane version(s) affected**: 6.3.5+

**Description**
When passing a request body as a string that has a length of < 4000 characters, it triggers an error.

[code]

The code triggering this error is the block below from the `executeEndpoint()` method of the generated `Runtime\Client\Client` class, namely the third nested `if` branch.

[code]

The string in question is the binary contents of a [sma

[2021-05-10 14:41] Korbeil commented on #526
Hey @elazar, sorry I never answered you, but I fixed your issue and it's available in last release `v6.3.8`

[2021-05-10 15:42] fezfez commented on #517
hi @podarcis, im facing the same issue.
Have you solve the problem ?
Can you share some information about the solutions ?

Thanks in advance :)

[2021-05-10 16:34] podarcis commented on #517
Hi @fezfez, sure, this was my approach. Please note that I ended up not using this library as I had some more issues with getting it to run with the Shopware 6 API - so this is more of a proof of concept than a stable solution.

1) Create the client:

[code]

2) OAuth service

[code]

3) janephp AuthenticationPlugin

[code]

[2021-05-13 18:37] elazar commented on #526
@Korbeil It appears that this change didn't fully address the issue. I'm now receiving this error under PHP 7.4.12 and Jane 6.3.8.

[code]

[2021-05-14 12:34] CaptainQuirk commented on #525
Hi !

Isn't it two separate issues ?

- Adding built-in types when we deal with php8 should be the default
- Using public properties instead of private ones with getters/setters should be something that can be configured

What do you think ?

[2021-05-18 07:25] wRLSS opened #533 "Code-first schema generation"
Janephp is already aware of of json-schema related transformations and cardinality. It would be also useful to be able to use `code-first` approach, so that we can describe POPO and generate the openapi/json-schema based on it

[2021-05-18 16:21] jmsche commented on #525
Hi,

It's clearly two different behaviours to add, but IIRC I added them in the same issue as both impact properties.

Note: typed properties can be implemented for PHP 7.4 as well :)

[2021-05-19 11:38] Korbeil commented on #525
Typed properties will come with Jane v8, I'll release v7 soon-ish ~

[2021-05-19 11:53] Korbeil commented on #533
You mean by using Annotation for example ?

[2021-05-19 12:25] wRLSS commented on #533
I assume that the way to signal the generator about type miight be different depending on the php version, and even not limited to some concrete resolver. It can be: property type based generation / annotation / attributes based

[2021-05-19 13:47] CaptainQuirk commented on #525
@jmsche Yes you're absolutely right, my mistake ! :smile:

[2021-05-19 13:48] Korbeil commented on #525
It's not exactly true, for typed properties we want to use unions type because it's easier to manage `null|string` rather than `?string` and we often have multiple types.
So it will be probably a PHP8 feature.

[2021-05-19 20:01] #449 closed, assigned to nobody

[2021-05-25 15:39] nikophil opened #535 "Jane generates multiple model classes for one given entry in the schema"
**Jane version(s) affected**:
[code]

**Description**
Hello,

I've just updated from open api v2 to v3, and now, such an api spec results in two models for "Image" schema:
- Image
- ProgramImage

It's quite a problem, since we have a lot of code using this client which heavily relies on objects returned by Jane.

thanks :)

**How to reproduce**
[code]

FYI the spec has been generated with `nelmio/

[2021-05-31 15:17] Gounlaf opened #538 "Issue with default cs-fixer config #530"
**Jane version(s) affected**: 6.3.8

**Description**

Hi @Korbeil,

As @AlexandrePavy said in #530 discussion, there is a problem :

- before, we can use Jane with option `use-fixer` set to `true` and that's all
- now, we need to specify (and override) the fixer config via the option `fixer-config-file`

So with 6.3.8 it doesn't work "out of the box" anymore.

Regards,

[2021-05-31 15:20] AlexandrePavy commented on #538
Hello i still confirm that, i use custom cs-fixer file because not working anymore out of the box

[2021-05-31 15:25] Gounlaf commented on #538
If someone was struggling like me to find default config from jane, it should be something like this:

[code]

[2021-05-31 20:12] Korbeil commented on #538
Hey guys, thanks for the issue, can one of you open a PR to fix this correctly ?
I don't have that much time atm since I'm working on some conference but I'll be glad to merge or your PR :pray:
If you can't I'll try to fix that when I have more time :sweat_smile:

[2021-06-01 10:33] LukasWieditz opened #539 "Generating on Windows causes a crash"
**Jane version(s) affected**: 7.0.0

**Description**
If you try to create a client for any valid OpenAPI spec on Windows, an error is generated: Uncaught Error: Call to a member function addClass() on null.

**How to reproduce**
Try to generate a client from following file under Windows: https://sportsdata.io/downloads/swagger/nfl-v3-projections.json

Stack trace:
[code]

**Possible Solution**
Pot

[2021-06-01 12:18] onlinepos-mir commented on #539
I get same error, both in 6.3.8 and 7.0.0.

[2021-06-01 16:59] LukasWieditz opened #540 "Call to a member function getSchema() on array"
**Jane version(s) affected**: 7.0.0

**Description**
Generation fails with error message in title for file linked below. Dumping the called variable at that point returns an array:
[code]

I had a suspicion that PlayerGame might be not listed under definitions, but it is:
[code]

**How to reproduce**
Attempting to generate a schema for the following file: https://sportsdata.io/downloads/swagger/nf

[2021-06-02 09:10] LukasWieditz commented on #540
I've investigated this further, and it seems that the description of the response is `null` rather than an empty string, which seems to make the library stumble:

[code]

changing description to a value of `""` will allow the generation to complete successfully.

[2021-06-03 07:38] Gounlaf commented on #538
I will try

[2021-06-14 11:39] skyfall174 opened #544 "Null pointer exception"
On WINDOWSmachine throws Uncaught Error: Call to a member function addClass() on null in C:\Users\<user>\project\vendor\jane-php\json-schema\Guesser\JsonSchema\ObjectGuesser.php:76

It is because $reference is with capital disk C:\ but in $schema is lowerCase

https://github.com/janephp/janephp/blob/f9f021a02359ff1de4798eac8f5a40ba72d8ccfb/src/Component/JsonSchema/Registry/Registry.php#L36

[2021-06-15 11:43] Gounlaf commented on #544
#539

[2021-07-03 23:48] elazar opened #548 "Support use of custom model generators"
**Is your feature request related to a problem? Please describe.**

I would like for generated model classes to use immutable-style setters (e.g. `withId()`), but it doesn't currently appear to be possible to implement such a customization without hacking the core library.

**Describe the solution you'd like**

Support specifying a custom model generator class via configuration, similar to what is

[2021-07-09 14:31] tecbird opened #549 "Content negotiation with multiple formats (API Platform) for one resource not working as expected"
**Jane version(s) affected**: 6.3.7 + 7.1.0

**Description**
We use jane to generate the php client for our api platform project.
Our endpoints allow multiple content types / format from the using the same schema.
https://api-platform.com/docs/core/content-negotiation/

**How to reproduce**
We have per example the following endpoint in our open api:

    "/test/get-report/{id}": {
      "get": {

[2021-07-27 14:45] andrew-demb opened #550 "Jane 7.1.0 components require ~7.0.0 versions of other components"
**Jane version(s) affected**: 7.1.0

**Description**

Installation for 7.1.0 jane components are not download all of them with latest version

**How to reproduce**

Install `jane-php/open-api-runtime:7.1.0` and check if jane-php components installed with latest version (7.1.0)

[code]

**Possible Solution**

Update `composer.json` for all components with latest versions.
Example link to "outdated"

[2021-08-30 14:47] slacker775 opened #551 "Support for application/problem+json responses"
I have an API that has error responses returned with the application/problem+json MIME type.  Right now, generated endpoints wind up with an empty handler for such responses.

If my definition is like this:
[code]

The generated handler in the endpoint winds up as:

        if (404 === $status) {
        }

If application/problem+json could be handled in the same manner as application/json, these

[2021-08-30 16:19] slacker775 commented on #481
Perhaps this sort of thing could be handled by allowing a preprocessor definition so the dev can handle particular cases.  In the schema itself, you don't want to specifically reference particular classes (or you kind of cant if its a 3rd party schema and you dont want to be hand-editing it).  But if there could be a pre-processor that gets the type & format fields (and any others that might be re

[2021-08-30 20:56] slacker775 commented on #517
Here's an OAuth Auth Provider class I wrote that uses League's oauth2-client library.  It will handle refreshing the token and all of that so setup isnt too bad.

[code]

[2021-10-04 08:35] fcool opened #555 "jane-php/json-schema-runtime depends unnecessarily on symfony/yaml"
**Jane version(s) affected**: 6.3.x to 7.1.0

**Description**
jane-php/json-schema-runtime depends on symfony/yaml, but does not use any of its implementations. Because of that it cannot be installed in projects which cannot install the required version, because of a version constraint conflict.

**How to reproduce**
add the jane-php/json-schema-runtime to an empty project, symfony/yaml will get i

[2021-10-04 10:19] fcool commented on #555
Sorry - of course it uses symfony/yaml - I need to take this tomatoes of my eyes.

[2021-10-04 10:19] #555 closed, assigned to nobody

[2021-10-08 07:58] Korbeil commented on #550
This was fixed by #554

[2021-10-08 07:58] #550 closed, assigned to nobody

[2021-10-08 08:59] andrew-demb commented on #550
@Korbeil when we can expect a release with this fix? At least a patch version release will be helpful.

[2021-10-08 09:01] Korbeil commented on #550
I'm trying to make it happen today, working on it rn

[2021-10-08 09:11] Korbeil commented on #540
Hello @LukasWieditz and thanks for your issue !

Sadly the issue is that your OpenAPI schema isn't OpenAPI 2.x compliant, as you can see in the corresponding spec: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#responseObject, description is a required field and it's not allowed to give it a `null` value.
We do work with some wrongly generated OpenAPI schema on our side by

[2021-10-08 09:11] #540 closed, assigned to nobody

[2021-10-08 09:14] Korbeil commented on #544
As @Gounlaf linked, this is a duplicate issue

[2021-10-08 09:14] #544 closed, assigned to nobody

[2021-10-08 09:15] Korbeil commented on #538
Fixed by #542

[2021-10-08 09:15] #538 closed, assigned to nobody

[2021-10-08 09:21] Korbeil commented on #535
Sadly we do not support `allOf` / `oneOf` fields atm, but I know there was some work started for `oneOf` with #486
For `allOf` it's a bit more complex since we will have to create a new model for each possible combination.

[2021-10-08 10:16] Korbeil commented on #524
Fixed by #556

[2021-10-08 10:16] #524 closed, assigned to nobody

[2021-10-08 10:18] Korbeil commented on #523
Hello,

Validation is already part is current issue and something I really want to bring as soon as possible.
But your issue is actually a duplicate of #10  so I'm closing this one.

[2021-10-08 10:18] #523 closed, assigned to nobody

[2021-10-08 14:53] Rid opened #559 "Nullable array in OpenApi v2 triggers Invalid argument supplied for foreach() error"
**Jane version(s) affected**: 7.1

**Description**
First of all, thank you for this awesome project!

I seem to be hitting the same error as #201 except in OpenApi v2 with `x-nullable`

**How to reproduce**
Trying to generate a client for the docker OpenApi v2 swagger file (https://github.com/moby/moby/blob/master/api/swagger.yaml), it contains:

[code]

This ignores `x-nullable: true` on the arra

[2021-11-08 20:12] letharion opened #565 "Notify on incorrect securitySchemes?"
Problem: I wasn't getting any security schemes code generated, and I couldn't understand why.

My specification was:

[code]

Since Jane can't do anything with this, it would have been nice with a little warning that my none of my "two" schemes here make sense.

To be clear, I went back to the spec, figured out that the scheme needed a name, and I now get a authentication class generated. This is

[2021-11-11 09:15] jmsche opened #566 "Symfony 6 support"
Hi, it would be nice to add Symfony 6 support :)

[2021-11-11 18:45] letharion commented on #566
Both directly and through php-http/client-common there's a dependency on symfony/options-resolver which doesn't have a stable 6 release yet, so that should probably happen first.

[2021-11-11 18:47] Korbeil commented on #566
I'm thinking a lot to remove PSR client and move to Symfony's HttpClient
only, so maybe it's time :)

Le jeu. 11 nov. 2021, 19:46, Claes ***@***.***> a écrit :

[2021-11-12 13:58] Korbeil opened #568 "8.x roadmap"
Let's start to plan `v8.x` release !
When v8 will get out, I will drop support for Jane v6 and will continue to support v7 as usual.

## Jane
- [ ] Validation (see #405)
- [ ] Remove HTTP PSR usage in favor of Symfony's HttpClient component (see #566)

[2021-11-17 12:42] flavioheleno commented on #568
Hi, I'm not an active member of this community but I do use the project here and there and I was wondering, why "Remove HTTP PSR usage in favor of Symfony's HttpClient component" would be a positive change in the upcoming version?

By relying on interfaces, such as HTTP PSR, the library gives the freedom of choice to the developer to decide which HTTP PSR compliant implementation - such as Symfony

[2021-11-17 13:19] Korbeil commented on #568
@flavioheleno I'm surprised but thanks for your feedback ! I really love to see that even the silent part of this community come around to check how the project is moving and the roadmap for next versions !

About the part where I plan to remove PSR usage in favor of Symfony's HTTP Client, this is a conclusion I had over the time I had to make support here / using Jane. Here is a list of reasons t

[2021-11-17 13:42] flavioheleno commented on #568
Hey @Korbeil, thank you for your work in making Jane be what it is :)

Regarding your points:
Both Simplicity/Installation and Debugging/Profiling can be worked on to make the Developer Experience better and I could probably try to help with it in the future if you think it's welcome.

As to Async/Sync Calls with PSR, I can't see a way around it and that seems to be a deal breaker to you (and prob

[2021-11-25 18:19] acirulis opened #570 "When using Automapper from array to class, array value cannot be an object."
**Jane version(s) affected**: 7.1.3

**Description**
Consider an
[code]
and a class:
[code]
When using:
`$output = $this->autoMapper->map($source, Destination::class, []);`

Exception is thrown:

`DateTimeImmutable::createFromFormat(): Argument #2 ($datetime) must be of type string, DateTime given/`

When source is an object, everything works as expected.

[2021-11-26 13:42] Korbeil commented on #568
Sorry @flavioheleno I was late answering, we talked a lot about this point with some @jolicode coworkers and we mostly agree at some point that the main issue here isn't HTTP PSR but HTTPlug because it lack maintenance. The tricky part is that we are using it in a lot of places because of the plugin system it provides (which is really awesome indeed !) so if we want to replace that we need to find

[2021-11-26 18:28] flavioheleno commented on #568
No worries @Korbeil :) I'm glad to offer my time to discuss/help in whatever may needed to that matter.

Besides that, keep on rockin', I really like what you've been doing here!

[2021-12-02 04:43] BenMenking commented on #539
Running into this issue on Windows and Cygwin64 using the config definition in the documentation.  My .jane file that breaks:

[code]
and the temporary workaround to keep it from breaking:

[code]
It appears that on Windows the magic constant __DIR__ uses backslashes (expected) which are url encoded when making the hasReferences() call and the strings do not match.  There is also the drive letter

[2021-12-02 19:08] X0GT0X opened #575 "[Automapper] Cannot map Ramsey/UuidInterface field"
Hey,

I'm trying to use janephp/automapper-bundle to map User entity to its doctrine equivalent DoctrineUser. Both them have propery `$id` that has type `Ramsey\Uuid\UuidInterface`. So when I use `map($user, $doctrineUser)` I get the error "Cannot instantiate interface Ramsey\Uuid\UuidInterface". Is there any solution that helps me to handle this?

Thanks :)

Class examples:

[code]

[code]

[code

[2021-12-02 19:33] Korbeil commented on #575
Hello @andriy200017 and thanks for your report !
It's kinda expected it won't work _as it is_. The AutoMapper will try to get an object and map its properties to an array (or reverse).
In your case you have a DoctrineUser class with id, email and roles. Email and roles are string so they can be mapped easily but for the id it's another story. The id is stored (in database) as a string but in PHP c

[2021-12-02 19:43] X0GT0X commented on #575
Hi @Korbeil, thanks for quick response and for sharing some examples. I'll try it out and return to you :)

[2021-12-10 16:22] lkck24 commented on #551
Any idea, what would the best way to add support for application/problem+json contenttype? I would be happy to implement it.

[2021-12-10 16:28] lkck24 commented on #568
As a user I like to add, the it helps us a lot, that the client code is based on the PSR interfaces. It allows us to replace the HTTP client implementation as needed and I also think that the plugin system provided by HTTPlug is really awesome.

[2021-12-10 16:47] Korbeil commented on #551
Hey @lkck24 and thanks for proposing, I think the best would be to watch at `jane-php/open-api` EndpointGenerator. In that class you generate the Endpoint that is used in your client, there is a `transformResponseBody` method, for example: (once generated)
[code]

You have a check on the contentType: `application/json` here. So you'll have to create a new layer of normalizers to handle `applicatio

[2021-12-10 16:52] Korbeil commented on #568
Yeah, I'm thinking more and more to remove dependencies with HTTPlug and have some PSR-compliant plugin system.

[2021-12-12 15:48] #575 closed, assigned to nobody

[2021-12-12 18:57] Korbeil commented on #575
Why closing it ? Isn't it still required ? I could do it if you want.

[2021-12-12 18:59] X0GT0X commented on #575
Oh, sorry, I forgot to attach a message. I've already done it. Thank you for help :)

[2021-12-12 19:00] Korbeil commented on #575
Oh nice ! Is it possible to add the transformer to the main repository ? So new users can use it ?

[2021-12-12 19:04] X0GT0X commented on #575
I think so. Here is the code:
[code]

[code]

[2021-12-12 19:06] Korbeil commented on #575
Could you do a pull request ? Or I can do it for you if you want.

Le dim. 12 déc. 2021, 20:04, Andrii ***@***.***> a écrit :

[2021-12-12 19:10] X0GT0X commented on #575
Are you sure you want to add an additional required package to janephp repository (I mean ramsey/uuid)?

[2021-12-12 19:15] Korbeil commented on #575
You should add it like I did for Symfony UID component, in dev packages and
the transformer is added only if the package is present

Le dim. 12 déc. 2021, 20:10, Andrii ***@***.***> a écrit :

[2021-12-12 19:25] X0GT0X commented on #575
Okay, I'll try to add it

[2021-12-12 19:32] Korbeil commented on #575
Thanks !

Le dim. 12 déc. 2021, 20:25, Andrii ***@***.***> a écrit :

[2021-12-14 05:24] lkck24 commented on #551
First draft: https://github.com/janephp/janephp/pull/577
The generated endpoint now also handles application/problem+json error respones correctly.

[2021-12-16 17:17] lkck24 commented on #551
It's resolved now.

[2021-12-16 17:20] Korbeil commented on #551
Indeed, thanks @lkck24

[2021-12-16 17:20] #551 closed, assigned to nobody

[2021-12-21 18:34] yoshz commented on #419
I had the same problem with api-platform and `properties[]` parameters.
The `http_build_query` is not sufficient for these kind of use cases.
The PR looks the right way and I am looking forward to test it, however it is too far behind the current `next` branch.

[2021-12-21 22:10] brzuchal commented on #419
I don't have spare time to get it done. Feel free to take over.

[2021-12-21 22:44] yoshz commented on #419
I was already looking into it. I will create a new PR as soon as I have something working.

[2021-12-24 11:26] MeCapron opened #582 "Schemas with spaces in their names are skipped"
**Jane version(s) affected**: 7.1

**Description**

When generating the SDK with a Swagger containing spaces in its schemas, the model are skipped.

**How to reproduce**
[code]

You can use this schema to reproduce the issue.

The endpoint transform response will not use the schema (which is not generated) and will return a json decoded response instead.

[code]

**Possible Solution**
We can proba

[2022-01-03 14:53] t-richard opened #584 "[OpenAPI] Numeric property names cause invalid generated PHP models"
**Jane version(s) affected**: 7.1.5

**Description**

When property names in the openAPI spec are integers, the generated models contain invalid php code similar to the following

[code]

`$1` and `$this->1` are invalid in PHP.

**How to reproduce**

<details>
<summary>Open API spec</summary>

[code]
</details>

**Possible Solution**

Changing the generated class properties from `protected $1` to

[2022-01-03 18:17] pyrech opened #585 "Multi-namespace mapping normalizer fails to denormalize models from other schema."
**Jane version(s) affected**: 6+

**Description**
Multi-namespace mapping miss normalizer for models from other schema.

**How to reproduce**
See the [multi-namespace](https://github.com/janephp/janephp/blob/next/src/Component/JsonSchema/Tests/fixtures/multi-namespace) json schema fixtures :

[Schema1's JaneObjectNormalizer#$normalizers](https://github.com/janephp/janephp/blob/next/src/Component/J

[2022-01-12 16:05] vladdancer commented on #445
It seems that [current PicturePark API version](https://api-cp-ch01.picturepark.com/docs/rest/PictureparkSwagger.json) (`NSwag v13.6.2.0 (NSwag v13.13.2.0 (NJsonSchema v10.5.2.0 (Newtonsoft.Json v12.0.0.0))`) is not compatible with janephp (jane-php/open-api-3:v7.1.5, jane-php/open-api-runtime:v7.1.5).

I got error:
[code]

Meantime I've tried to use an old PP json from there https://github.com/ja

[2022-01-15 15:40] Gounlaf commented on #481
@odolbeau I've created PR#586 to address this issue.
Could you try it?

[2022-01-15 21:30] Gounlaf commented on #584
@t-richard I've create PR #587

[2022-01-21 18:00] shulard opened #588 "Question regarding external reference in $ref when building OpenAPI doc."
**Is your feature request related to a problem? Please describe.**

I've a documented API that is splitted in multiple YAML files. Each files reference each others by using the $ref property:

[code]

I tried to generate a client by using Jane. The generation process is successful but the client is empty :

Configuration :

[code]

The command call:

[code]

**Describe the solution you'd like**

I

[2022-01-24 05:12] cjgordon commented on #525
Hi All,
Just checking in to see where this if there has been any progress on this issue?

I am using v7.1.5 with PHP and not that types in models are being defined using @var notation instead of being defined in declaration ie. 'private string $words;'

This seems like something I may be able to contribute towards and am more than happy to if this hasn't already been progressed and I'm just missin

[2022-01-24 07:37] Korbeil commented on #525
I did not worked on that feature yet, feel free to try it :+1:

[2022-01-24 22:38] cjgordon commented on #525
Okay I will take a look. I can see that one of the places which would need to be changed is:
https://github.com/janephp/janephp/blob/next/src/Component/OpenApi3/Generator/Parameter/NonBodyParameterGenerator.php#L148

Will take a poke and note other changes before implementing them.

How would you expect this to work. My thoughts would be if composer declares PHP7.4 or above then use built in typed

[2022-01-26 08:08] oleg-andreyev commented on #352
Ref.: https://github.com/OAI/OpenAPI-Specification/issues/1368

[2022-01-28 08:19] Korbeil opened #591 "[AutoMapper] Update private prop with target to populate passed"
**Jane version(s) affected**: all

**Description / How to reproduce**
You have an entity with a property that is private and set through the construct method.
Then you use the AutoMapper with a target to populate passed as target and you expect him to update that property.
It won't update the property with current AutoMapper implementation.

[code]

**Possible Solution**
Use a `Closure::bind` to c

[2022-02-02 19:36] Gounlaf commented on #352
Still present in v7. I will try to fix it.

[2022-02-03 14:04] MeCapron commented on #344
Hello,

I do not really agree on the provided solution and I'm willing to discuss it.

As per stated in the JSON schema, if the property is named with some uppercase there are no reasons imho to modify it in any way. By normalizing the name defined in the API, we could lose the track of it before passing it back to the API.

Imagine the same API that allows you to edit an IPAddress, they will prob

[2022-02-03 14:45] Gounlaf commented on #566
php-http/client-common@2.5.0 with symfony 6 support since Nov 26 :tada:

[2022-02-03 14:47] Korbeil commented on #566
This is already present since https://github.com/janephp/janephp/pull/571 (tagged `v7.1.4`).
Sorry I forgot to close this issue :sweat:

[2022-02-03 14:47] #566 closed, assigned to nobody

[2022-02-03 22:16] Gounlaf commented on #582
If I'm right it's not a bug from Jane; according to OpenApi3 specs, the schema cannot have a whitespace  https://github.com/janephp/janephp/blob/a4b23e77cb500294e146a308e2223d48c8421d91/src/Component/OpenApi3/version3.json#L190

[2022-02-03 22:21] Gounlaf commented on #582
Just tried to be sure; edit (but you shouldn't as stated in header) the ComponentsNormalizer class and add a space in the regex

Before:

https://github.com/janephp/janephp/blob/a4b23e77cb500294e146a308e2223d48c8421d91/src/Component/OpenApi3/JsonSchema/Normalizer/ComponentsNormalizer.php#L50

After:
[code]

It works (Jane do some cleanup, applying `camelCase`) as you expect.

But, again, it seems

[2022-02-03 22:26] Gounlaf commented on #62
Is this still needed?

[2022-02-04 08:17] Gounlaf commented on #584
Merged and released with v7.1.7

Ping @Korbeil to closing the issue :)

[2022-02-04 08:22] #584 closed, assigned to nobody

[2022-02-04 08:23] t-richard commented on #584
Thanks @Gounlaf for fixing this issue :heart:

I'll test this later today :slightly_smiling_face:

[2022-02-04 09:07] Korbeil commented on #584
Also, when doing PR that fixes issue, you can add "Fixes #{number}" so it will close the issue when merging :)

[2022-02-04 09:09] Korbeil commented on #62
Since it's kinda old issue and no news since then, I'll close it, please reopen if it's still required.

[2022-02-04 09:09] #62 closed

[2022-02-04 09:15] Korbeil commented on #582
I'm joining @Gounlaf comment here, we aim to support OpenAPI specification. For reference https://github.com/OAI/OpenAPI-Specification/blob/main/schemas/v3.0/schema.json#L196
I'll close this issue, if you find anything that is an issue according to OpenAPI spec please report :)

[2022-02-04 09:15] #582 closed, assigned to nobody

[2022-02-04 09:21] Korbeil commented on #88
AmpArtax has been dropped since some time now and the related versions are not supported anymore so I'll close this PR, please update your library to latest OpenAPI versions for better support.

[2022-02-04 09:21] #88 closed

[2022-02-05 14:33] Korbeil commented on #451
Hey @bendavies, I finished #405, this will also support `additionalProperties` field which is used to determine if you can have any fields that are not defined in your schema. I will close this issue once it's merged in `next` branch, a release should come around early next week.

[2022-02-07 09:57] t-richard commented on #584
Updating to the latest version fixed the issue and it works as expected.

Thanks again to you both!

[2022-02-17 12:08] #10 closed

[2022-02-17 12:08] #451 closed, assigned to nobody

[2022-02-17 12:51] bendavies commented on #451
awesome thanks!

[2022-02-22 03:35] cjgordon commented on #525
Just an update on this I chased it down and the required change is actually this:
[https://github.com/cjgordon/janephp/commit/ea175c14c960cad3e2f558d5f04d7d983716d045](https://github.com/cjgordon/janephp/commit/ea175c14c960cad3e2f558d5f04d7d983716d045)

The issue with this is that the current PHP requirements for the project is 7.2 to 8.0 and class property type hints require 7.4 or greater.

Ther

[2022-02-22 08:24] Korbeil commented on #525
I would prefer to raise PHP requirements to 7.4.

[2022-02-22 08:32] cjgordon commented on #525
@Korbeil okay will change 7.4 minimum.

I have a bit more work to do as I would like to try improve array type hints a bit more.

Then I will execute test and submit PR in the next couple of days.

[2022-02-23 07:41] lkck24 opened #599 "Support validators for OpenApi3"
I really appreciate the new support for validators. So far the support seems to be implemented for JsonSchema only.

What needs to be done, to add support for OpenApi too?

I'm willing to help.

[2022-02-23 08:48] Korbeil commented on #599
Hello @lkck24, thanks for your issue !
It should work "as it is" unless I fucked some configuration :thinking: I'll check it later :+1:

[2022-02-23 08:54] lkck24 commented on #599
https://github.com/janephp/janephp/blob/next/src/Component/JsonSchema/Guesser/Validator/Numeric/MinimumValidator.php#L16

In this class `$object` is not an instance of `JsonSchema`. And because of that no validator get's generated.

[2022-02-23 13:34] Korbeil commented on #599
I think the best here would be to make new Guesser in OpenApiCommon so they are matching OpenApi schema fields (which can be different from JSON Schema)

[2022-02-23 18:44] Gounlaf commented on #344
In the current version (v7), I don't see any issue;

Class and properties are normalized to avoid any issue with PHP; but `Normalizers` and `Denormalizers` generated classes use the original name of property in `normalize` and `denormalize` methods.

[2022-03-02 03:42] moniang opened #601 "Call to a member function addClass() on null"
**Jane version(s) affected**:
7.2.0

**Description**

When I use the command to generate, an error occurs
[code]
**How to reproduce**

yaml:https://docs.docker.com/engine/api/v1.41.yaml
[code]
**Possible Solution**

**Additional context**

[2022-03-05 14:12] Korbeil commented on #601
Thanks for your report ! I'll take a look at it :)

[2022-03-05 14:22] Korbeil commented on #601
I just tried and had no issues on my side, what is your PHP version please ?

[2022-03-05 14:33] #601 closed, assigned to nobody

[2022-03-05 14:33] Korbeil commented on #601
I added some defensive code to avoid this error, will be available in next release: `7.2.1`

[2022-03-05 15:04] #599 closed, assigned to nobody

[2022-03-10 14:57] func0der opened #604 "Property formParameters is not defined in generated BaseEndpoint"
**Jane version(s) affected**: 7.2

**Description**
PHPStan noticed it after analysing the generated client.
The method `BaseEndpoint::getMultipartBody()` tries to access the property `BaseEndpoint::$formParameters` which is not defined.

**How to reproduce**
Just generate a client. Any client :D

**Possible Solution**
Define the property with `$queryParameters` and `$headerParameters` in `BaseEndp

[2022-03-11 10:29] Korbeil opened #605 "[AutoMapper] Registry concurrency issue"
**Jane version(s) affected**: latest

**Description**
When the AutoMapper is writting in the registry, if another process is writing at the same exact same time, we can have issues with the registry file.

Normal file:
![](https://i.imgur.com/AvuyDyo.png)

Bugged file:
![](https://i.imgur.com/MmJklYc.png)

**How to reproduce**
Complex to reproduce, you need to hit the write on the exact same time

[2022-03-19 10:35] #605 closed, assigned to nobody

[2022-03-24 05:45] lkck24 opened #608 "$ref for property leads to missing field in generated validator"
**Jane version(s) affected**: 7.2.1

**Description**
When using a $ref for a property, the property is missing from the generated validator.

**How to reproduce**
Create an openapi yaml spec which is using a $ref for a property.

[code]

After you have generated the validators, the property1-property is missing from the generated validator..

**Possible Solution**
The problem can be fixed by using

[2022-03-29 16:06] Korbeil opened #610 "[AutoMapper] Enum support"
**Is your feature request related to a problem? Please describe.**
Support mapping enums if you're using PHP > 8.1

[2022-03-31 08:55] Korbeil opened #612 "[OpenApi] Default value doesn't work with dictionnaries"
**Jane version(s) affected**: 7.1

**Description**
When using a dictionnary definition, the `default` field is ignored.

**How to reproduce**
Using this schema:
[code]

[2022-04-01 12:46] tipims opened #613 "Fix required nullable property"
**Jane version(s) affected**: v6.3.8

**Description**

When a property is defined nullable and required, this property must be present.
https://stackoverflow.com/questions/45575493/what-does-required-in-openapi-really-mean

**How to reproduce**

Using this schema:
[code]

[2022-04-01 14:57] tipims commented on #613
Option [skip-null-values](https://jane.readthedocs.io/en/latest/components/OpenAPI.html?highlight=skip-null-values) seems to solve the problem for now.

[2022-04-06 08:53] dbu commented on #608
this can probably be closed as #609 is merged

[2022-04-06 08:56] Korbeil commented on #608
Thanks it's true ! @lkck24 it's fixed in `next` and I will make a release soon :)

[2022-04-06 08:56] #608 closed, assigned to nobody